In [51]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from scipy.stats import linregress

# Output File (CSV)
output_data_file = "Data/weather_API.csv"

# Range of latitudes and longitudes
lat = (38.9072)
lon = (-77.0369)

In [68]:
#Make a single call API request to get current data for Washington D.C. weather
url = "https://weather.visualcrossing.com/VisualCrossingWebServices/rest/services/timeline/washington%20d.c./today?unitGroup=us&key=7BYNR7A5VCRX7G6DT9KHFR4QR&include=current"

import json

response = requests.get(url)
response_json = response.json()

In [72]:
response_json

{'queryCost': 1,
 'latitude': 38.8904,
 'longitude': -77.032,
 'resolvedAddress': 'Washington, DC, United States',
 'address': 'washington d.c.',
 'timezone': 'America/New_York',
 'tzoffset': -4.0,
 'days': [{'datetime': '2021-05-05',
   'datetimeEpoch': 1620187200,
   'tempmax': 78.9,
   'tempmin': 57.8,
   'temp': 67.4,
   'feelslikemax': 78.9,
   'feelslikemin': 57.8,
   'feelslike': 67.4,
   'dew': 58.7,
   'humidity': 75.81,
   'precip': 0.08,
   'precipprob': None,
   'precipcover': 25.0,
   'preciptype': None,
   'snow': 0.0,
   'snowdepth': 0.0,
   'windgust': 35.7,
   'windspeed': 23.5,
   'winddir': 236.7,
   'pressure': 1007.3,
   'cloudcover': 72.6,
   'visibility': 9.4,
   'solarradiation': 209.9,
   'solarenergy': 11.3,
   'uvindex': 9.0,
   'sunrise': '06:05:22',
   'sunriseEpoch': 1620209122,
   'sunset': '20:04:52',
   'sunsetEpoch': 1620259492,
   'moonphase': 0.84,
   'conditions': 'Rain, Partially cloudy',
   'description': 'Partly cloudy throughout the day with rain in the morning and afternoon.',
   'icon': 'rain',
   'stations': ['KDCA', 'KADW', 'KDAA'],
   'source': 'obs'}],
 'stations': {'KADW': {'distance': 16082.0,
   'latitude': 38.82,
   'longitude': -76.87,
   'useCount': 0,
   'id': 'KADW',
   'name': 'KADW',
   'quality': 100,
   'contribution': 0.0},
  'KDAA': {'distance': 22905.0,
   'latitude': 38.72,
   'longitude': -77.18,
   'useCount': 0,
   'id': 'KDAA',
   'name': 'KDAA',
   'quality': 100,
   'contribution': 0.0},
  'KDCA': {'distance': 4501.0,
   'latitude': 38.85,
   'longitude': -77.03,
   'useCount': 0,
   'id': 'KDCA',
   'name': 'KDCA',
   'quality': 100,
   'contribution': 0.0},
  'F1341': {'distance': 4057.0,
   'latitude': 38.903,
   'longitude': -76.988,
   'useCount': 0,
   'id': 'F1341',
   'name': 'FW1341 Washington DC US',
   'quality': 0,
   'contribution': 0.0}},
 'currentConditions': {'datetime': '23:20:05',
  'datetimeEpoch': 1620271205,
  'temp': 58.1,
  'feelslike': 58.1,
  'humidity': 56.7,
  'dew': 42.8,
  'precip': 0.0,
  'precipprob': None,
  'snow': None,
  'snowdepth': 0.0,
  'preciptype': None,
  'windgust': 13.3,
  'windspeed': 6.7,
  'winddir': 343.0,
  'pressure': 1015.0,
  'visibility': 9.9,
  'cloudcover': 0.0,
  'solarradiation': None,
  'solarenergy': None,
  'uvindex': None,
  'conditions': 'Clear',
  'icon': 'clear-night',
  'stations': ['F1341', 'KDCA'],
  'sunrise': '06:05:22',
  'sunriseEpoch': 1620209122,
  'sunset': '20:04:52',
  'sunsetEpoch': 1620259492,
  'moonphase': 0.84}}

In [74]:
response_json['latitude']

38.8904

In [77]:
response_json['currentConditions']

{'datetime': '23:20:05',
 'datetimeEpoch': 1620271205,
 'temp': 58.1,
 'feelslike': 58.1,
 'humidity': 56.7,
 'dew': 42.8,
 'precip': 0.0,
 'precipprob': None,
 'snow': None,
 'snowdepth': 0.0,
 'preciptype': None,
 'windgust': 13.3,
 'windspeed': 6.7,
 'winddir': 343.0,
 'pressure': 1015.0,
 'visibility': 9.9,
 'cloudcover': 0.0,
 'solarradiation': None,
 'solarenergy': None,
 'uvindex': None,
 'conditions': 'Clear',
 'icon': 'clear-night',
 'stations': ['F1341', 'KDCA'],
 'sunrise': '06:05:22',
 'sunriseEpoch': 1620209122,
 'sunset': '20:04:52',
 'sunsetEpoch': 1620259492,
 'moonphase': 0.84}

In [91]:
print(f"Temperature: {response_json['currentConditions']['temp']} F")
print(f"Feels Like: {response_json['currentConditions']['feelslike']} F")
print(f"Humidity: {response_json['currentConditions']['humidity']}%")
print(f"Precipitation: {response_json['currentConditions']['precipprob']}")
print(f"Conditions: {response_json['currentConditions']['conditions']}")

Temperature: 58.1 F
Feels Like: 58.1 F
Humidity: 56.7%
Precipitation: None
Conditions: Clear

In [98]:
hour = pd.read_csv("./Data/hour(test).csv")
hour

           dteday  hr  temp   hum  cnt
0        1/1/2011   0  0.24  0.81   16
1        1/1/2011   1  0.22  0.80   40
2        1/1/2011   2  0.22  0.80   32
3        1/1/2011   3  0.24  0.75   13
4        1/1/2011   4  0.24  0.75    1
...           ...  ..   ...   ...  ...
17374  12/31/2012  19  0.26  0.60  119
17375  12/31/2012  20  0.26  0.60   89
17376  12/31/2012  21  0.26  0.60   90
17377  12/31/2012  22  0.26  0.56   61
17378  12/31/2012  23  0.26  0.65   49

[17379 rows x 5 columns]

In [99]:
hour.dropna()

           dteday  hr  temp   hum  cnt
0        1/1/2011   0  0.24  0.81   16
1        1/1/2011   1  0.22  0.80   40
2        1/1/2011   2  0.22  0.80   32
3        1/1/2011   3  0.24  0.75   13
4        1/1/2011   4  0.24  0.75    1
...           ...  ..   ...   ...  ...
17374  12/31/2012  19  0.26  0.60  119
17375  12/31/2012  20  0.26  0.60   89
17376  12/31/2012  21  0.26  0.60   90
17377  12/31/2012  22  0.26  0.56   61
17378  12/31/2012  23  0.26  0.65   49

[17379 rows x 5 columns]