In [1]:
# Dependencies
import pandas as pd

import requests
import json

# Google developer API key
from config import gkey

In [2]:
#import file
df1=pd.read_csv("data/2011-capitalbikeshare-tripdata.csv")

In [3]:
#drop duplicates for sta num
StaNum_df = df1.drop_duplicates(subset=['Start station number'], keep='first').reset_index(drop=True)
StaNum_df

,Duration,Start date,End date,Start station number,Start station,End station number,End station,Bike number,Member type
0,3548,2011-01-01 00:01:29,2011-01-01 01:00:37,31620,5th & F St NW,31620,5th & F St NW,W00247,Member
1,346,2011-01-01 00:02:46,2011-01-01 00:08:32,31105,14th & Harvard St NW,31101,14th & V St NW,W00675,Casual
2,562,2011-01-01 00:06:13,2011-01-01 00:15:36,31400,Georgia & New Hampshire Ave NW,31104,Adams Mill & Columbia Rd NW,W00357,Member
3,434,2011-01-01 00:09:21,2011-01-01 00:16:36,31111,10th & U St NW,31503,Florida Ave & R St NW,W00970,Member
4,233,2011-01-01 00:28:26,2011-01-01 00:32:19,31104,Adams Mill & Columbia Rd NW,31106,Calvert & Biltmore St NW,W00346,Casual
...,...,...,...,...,...,...,...,...,...
139,370,2011-12-21 19:03:48,2011-12-21 19:09:59,31307,3000 Connecticut Ave NW / National Zoo,31104,Adams Mill & Columbia Rd NW,W01467,Member
140,772,2011-12-22 13:32:07,2011-12-22 13:45:00,31707,Benning Rd & East Capitol St NE / Benning Rd M...,31708,Anacostia Ave & Benning Rd NE / River Terrace,W00369,Member
141,988,2011-12-22 13:45:22,2011-12-22 14:01:51,31708,Anacostia Ave & Benning Rd NE / River Terrace,31606,Potomac & Pennsylvania Ave SE,W01197,Member
142,134,2011-12-22 18:25:53,2011-12-22 18:28:07,31626,15th St & Massachusetts Ave SE,31607,14th & D St SE,W01329,Member
143,594,2011-12-24 13:43:01,2011-12-24 13:52:55,31806,Congress Heights Metro,31806,Congress Heights Metro,W01232,Member

In [5]:
#Get number of stations
StaNum = StaNum_df['Start station number'].tolist()
len(StaNum)

144

In [6]:
#Get stations number
StaNum

[31620,
 31105,
 31400,
 31111,
 31104,
 31605,
 31203,
 31201,
 31300,
 31007,
 31202,
 31212,
 31613,
 31103,
 31109,
 31302,
 31229,
 31603,
 31305,
 31600,
 31101,
 31208,
 31503,
 31213,
 31611,
 31107,
 31221,
 31001,
 31224,
 31602,
 31100,
 31205,
 31402,
 31606,
 31623,
 31200,
 31011,
 31110,
 31112,
 31214,
 31102,
 31619,
 31218,
 31108,
 31622,
 31228,
 31004,
 31204,
 31006,
 31223,
 31227,
 31304,
 31401,
 31616,
 31237,
 31607,
 31502,
 31207,
 31002,
 31010,
 31219,
 31217,
 31009,
 31301,
 31610,
 31609,
 31215,
 31225,
 31238,
 31236,
 31005,
 31618,
 31604,
 31624,
 31106,
 31700,
 31206,
 31235,
 31222,
 31220,
 31008,
 31226,
 31500,
 31012,
 31608,
 31216,
 31303,
 31504,
 31003,
 31013,
 31505,
 31209,
 31211,
 31601,
 31617,
 31805,
 31501,
 31704,
 31804,
 31703,
 31802,
 31801,
 31705,
 31266,
 31000,
 31702,
 31052,
 31262,
 31014,
 31016,
 31018,
 31015,
 31231,
 31233,
 31232,
 31230,
 31621,
 31701,
 31706,
 31261,
 31017,
 31019,
 31113,
 31239,
 31241,
 31022,
 31021,
 31242,
 31245,
 31625,
 31020,
 31244,
 31506,
 31404,
 31115,
 31615,
 31614,
 31116,
 31246,
 31307,
 31707,
 31708,
 31626,
 31806]

# Geocode stations

In [8]:
#Create df with station number and location(street)
StaLoc_df=StaNum_df[['Start station number', 'Start station']]
StaLoc_df.head()

   Start station number                   Start station
0                 31620                   5th & F St NW
1                 31105            14th & Harvard St NW
2                 31400  Georgia & New Hampshire Ave NW
3                 31111                  10th & U St NW
4                 31104     Adams Mill & Columbia Rd NW

In [49]:
pd.set_option("max_rows", None)
pd.set_option("max_colwidth",None)
StaLoc_df

     Start station number                                        Start station
0                   31620                                        5th & F St NW
1                   31105                                 14th & Harvard St NW
2                   31400                       Georgia & New Hampshire Ave NW
3                   31111                                       10th & U St NW
4                   31104                          Adams Mill & Columbia Rd NW
5                   31605                                        3rd & D St SE
6                   31203                           14th & Rhode Island Ave NW
7                   31201                                       15th & P St NW
8                   31300                                 Van Ness Metro / UDC
9                   31007                  Crystal City Metro / 18th & Bell St
10                  31202                                       14th & R St NW
11                  31212                                       21st & M St NW
12                  31613  Eastern Market Metro / Pennsylvania Ave & 7th St SE
13                  31103                                 16th & Harvard St NW
14                  31109                                        7th & T St NW
15                  31302                         Wisconsin Ave & Newark St NW
16                  31229                          New Hampshire Ave & T St NW
17                  31603                                        1st & M St NE
18                  31305      Connecticut Ave & Newark St NW / Cleveland Park
19                  31600                                        5th & K St NW
20                  31101                                       14th & V St NW
21                  31208                             M St & New Jersey Ave SE
22                  31503                                Florida Ave & R St NW
23                  31213                                       17th & K St NW
24                  31611                                       13th & H St NE
25                  31107                              Lamont & Mt Pleasant NW
26                  31221                                       18th & M St NW
27                  31001                                      18th & Eads St.
28                  31224                                       19th & L St NW
29                  31602                              Park Rd & Holmead Pl NW
30                  31100                        19th St & Pennsylvania Ave NW
31                  31205                                       21st & I St NW
32                  31402            14th St Heights / 14th & Crittenden St NW
33                  31606                        Potomac & Pennsylvania Ave SE
34                  31623                      Columbus Circle / Union Station
35                  31200                 Massachusetts Ave & Dupont Circle NW
36                  31011                                    23rd & Crystal Dr
37                  31110                             20th St & Florida Ave NW
38                  31112                        Harvard St & Adams Mill Rd NW
39                  31214                                17th & Corcoran St NW
40                  31102                                  11th & Kenyon St NW
41                  31619            Lincoln Park / 13th & East Capitol St NE
42                  31218                       L'Enfant Plaza / 7th & C St SW
43                  31108                                        4th & M St SW
44                  31622                                       13th & D St NE
45                  31228                                        8th & H St NW
46                  31004           Aurora Hills Community Ctr/18th & Hayes St
47                  31204                                       20th & E St NW
48                  31006                               S Joyce & Army Navy Dr
49                  31223                    Convention Center / 7th & M St NW
50                  31227                            13th St & New York Ave NW
51                  31304                   36th & Calvert St NW / Glover Park
52                  31401                               14th St & Spring Rd NW
53                  31616                                        3rd & H St NE
54                  31237                        25th St & Pennsylvania Ave NW
55                  31607                                       14th & D St SE
56                  31502                  John McCormack Dr & Michigan Ave NE
57                  31207                       Georgia Ave and Fairmont St NW
58                  31002                                    20th & Crystal Dr
59                  31010                                S Glebe & Potomac Ave
60                  31219                        10th St & Constitution Ave NW
61                  31217                    USDA / 12th & Independence Ave SW
62                  31009                                    27th & Crystal Dr
63                  31301                    Ward Circle / American University
64                  31610         Eastern Market / 7th & North Carolina Ave SE
65                  31609                                Maine Ave & 7th St SW
66                  31215                       Georgetown Harbor / 30th St NW
67                  31225                       C & O Canal & Wisconsin Ave NW
68                  31238                                       14th & G St NW
69                  31236               37th & O St NW / Georgetown University
70                  31005              Pentagon City Metro / 12th & S Hayes St
71                  31618                             4th & East Capitol St NE
72                  31604                                        3rd & H St NW
73                  31624                           North Capitol St & F St NW
74                  31106                             Calvert & Biltmore St NW
75                  31700                             Good Hope & Naylor Rd SE
76                  31206                                   19th & E Street NW
77                  31235                        19th St & Constitution Ave NW
78                  31222                            New York Ave & 15th St NW
79                  31220         US Dept of State / Virginia Ave & 21st St NW
80                  31008                                  12th & Army Navy Dr
81                  31226                           34th St & Wisconsin Ave NW
82                  31500                                        4th & W St NE
83                  31012                                    26th & S Clark St
84                  31608                       8th & Eye St SE / Barracks Row
85                  31216                            14th St & New York Ave NW
86                  31303         Tenleytown / Wisconsin Ave & Albemarle St NW
87                  31504                                  10th & Monroe St NE
88                  31003                                    15th & Crystal Dr
89                  31013                                     Eads & 22nd St S
90                  31505                               Eckington Pl & Q St NE
91                  31209                                       1st & N St  SE
92                  31211                                       Kennedy Center
93                  31601                            19th & East Capitol St SE
94                  31617                       Bladensburg Rd & Benning Rd NE
95                  31805                      Pennsylvania & Minnesota Ave SE
96                  31501                                  12th & Newton St NE
97                  31704            Nannie Helen Burroughs & Minnesota Ave NE
98                  31804                                    Anacostia Library
99                  31703                             Minnesota Ave Metro/DOES
100                 31802                            Good Hope Rd & MLK Ave SE
101                 31801                                      Anacostia Metro
102                 31705                               Benning Branch Library
103                 31266                                       11th & M St NW
104                 31000                                  Eads St & 15th St S
105                 31702                     Randle Circle & Minnesota Ave SE
106                 31052                              Potomac Ave & 35th St S
107                 31262                                       11th & F St NW
108                 31014                                 Lynn & 19th St North
109                 31016                           Clarendon Blvd & Pierce St
110                 31018                                 N Rhodes & 16th St N
111                 31015             Rosslyn Metro / Wilson Blvd & Ft Myer Dr
112                 31231              14th & D St NW / Ronald Reagan Building
113                 31233                     17th & K St NW / Farragut Square
114                 31232            7th & F St NW / National Portrait Gallery
115                 31230                        Metro Center / 12th & G St NW
116                 31621                     4th & D St NW / Judiciary Square
117                 31701                         Branch & Pennsylvania Ave SE
118                 31706                                      Fairfax Village
119                 31261                        21st St & Constitution Ave NW
120                 31017                              Wilson Blvd & N Uhle St
121                 31019                          Wilson Blvd & N Edgewood St
122                 31113                          Columbia Rd & Belmont St NW
123                 31239                    Rhode Island & Connecticut Ave NW
124                 31241                                        Thomas Circle
125                 31022        Clarendon Metro / Wilson Blvd & N Highland St
126                 31021                       Clarendon Blvd & N Fillmore St
127                 31242                        18th St & Pennsylvania Ave NW
128                 31245                         7th & R St NW / Shaw Library
129                 31625                                        3rd & G St SE
130                 31020                            Wilson Blvd & Franklin Rd
131                 31244                                        4th & E St SW
132                 31506                            1st & Rhode Island Ave NW
133                 31404                                   9th & Upshur St NW
134                 31115                         Columbia Rd & Georgia Ave NW
135                 31615                                        6th & H St NE
136                 31614                                       11th & H St NE
137                 31116                       California St & Florida Ave NW
138                 31246                           M St & Pennsylvania Ave NW
139                 31307               3000 Connecticut Ave NW / National Zoo
140                 31707   Benning Rd & East Capitol St NE / Benning Rd Metro
141                 31708       Anacostia Ave & Benning Rd NE / River Terrace
142                 31626                       15th St & Massachusetts Ave SE
143                 31806                               Congress Heights Metro

In [63]:
#Prepare address location for API
StaLoc_df["Address"]= StaLoc_df["Start station"].str.replace("&", "and", case = False)

<ipython-input-63-5c2fc8d219a2>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  StaLoc_df["Address"]= StaLoc_df["Start station"].str.replace("&", "and", case = False)

In [64]:
#Display df
StaLoc_df.head()

,Start station number,Start station,Address
0,31620,5th & F St NW,5th and F St NW
1,31105,14th & Harvard St NW,14th and Harvard St NW
2,31400,Georgia & New Hampshire Ave NW,Georgia and New Hampshire Ave NW
3,31111,10th & U St NW,10th and U St NW
4,31104,Adams Mill & Columbia Rd NW,Adams Mill and Columbia Rd NW
5,31605,3rd & D St SE,3rd and D St SE
6,31203,14th & Rhode Island Ave NW,14th and Rhode Island Ave NW
7,31201,15th & P St NW,15th and P St NW
8,31300,Van Ness Metro / UDC,Van Ness Metro / UDC
9,31007,Crystal City Metro / 18th & Bell St,Crystal City Metro / 18th and Bell St
10,31202,14th & R St NW,14th and R St NW
11,31212,21st & M St NW,21st and M St NW
12,31613,Eastern Market Metro / Pennsylvania Ave & 7th St SE,Eastern Market Metro / Pennsylvania Ave and 7th St SE
13,31103,16th & Harvard St NW,16th and Harvard St NW
14,31109,7th & T St NW,7th and T St NW
15,31302,Wisconsin Ave & Newark St NW,Wisconsin Ave and Newark St NW
16,31229,New Hampshire Ave & T St NW,New Hampshire Ave and T St NW
17,31603,1st & M St NE,1st and M St NE
18,31305,Connecticut Ave & Newark St NW / Cleveland Park,Connecticut Ave and Newark St NW / Cleveland Park
19,31600,5th & K St NW,5th and K St NW
20,31101,14th & V St NW,14th and V St NW
21,31208,M St & New Jersey Ave SE,M St and New Jersey Ave SE
22,31503,Florida Ave & R St NW,Florida Ave and R St NW
23,31213,17th & K St NW,17th and K St NW
24,31611,13th & H St NE,13th and H St NE
25,31107,Lamont & Mt Pleasant NW,Lamont and Mt Pleasant NW
26,31221,18th & M St NW,18th and M St NW
27,31001,18th & Eads St.,18th and Eads St.
28,31224,19th & L St NW,19th and L St NW
29,31602,Park Rd & Holmead Pl NW,Park Rd and Holmead Pl NW
30,31100,19th St & Pennsylvania Ave NW,19th St and Pennsylvania Ave NW
31,31205,21st & I St NW,21st and I St NW
32,31402,14th St Heights / 14th & Crittenden St NW,14th St Heights / 14th and Crittenden St NW
33,31606,Potomac & Pennsylvania Ave SE,Potomac and Pennsylvania Ave SE
34,31623,Columbus Circle / Union Station,Columbus Circle / Union Station
35,31200,Massachusetts Ave & Dupont Circle NW,Massachusetts Ave and Dupont Circle NW
36,31011,23rd & Crystal Dr,23rd and Crystal Dr
37,31110,20th St & Florida Ave NW,20th St and Florida Ave NW
38,31112,Harvard St & Adams Mill Rd NW,Harvard St and Adams Mill Rd NW
39,31214,17th & Corcoran St NW,17th and Corcoran St NW
40,31102,11th & Kenyon St NW,11th and Kenyon St NW
41,31619,Lincoln Park / 13th & East Capitol St NE,Lincoln Park / 13th and East Capitol St NE
42,31218,L'Enfant Plaza / 7th & C St SW,L'Enfant Plaza / 7th and C St SW
43,31108,4th & M St SW,4th and M St SW
44,31622,13th & D St NE,13th and D St NE
45,31228,8th & H St NW,8th and H St NW
46,31004,Aurora Hills Community Ctr/18th & Hayes St,Aurora Hills Community Ctr/18th and Hayes St
47,31204,20th & E St NW,20th and E St NW
48,31006,S Joyce & Army Navy Dr,S Joyce and Army Navy Dr
49,31223,Convention Center / 7th & M St NW,Convention Center / 7th and M St NW
50,31227,13th St & New York Ave NW,13th St and New York Ave NW
51,31304,36th & Calvert St NW / Glover Park,36th and Calvert St NW / Glover Park
52,31401,14th St & Spring Rd NW,14th St and Spring Rd NW
53,31616,3rd & H St NE,3rd and H St NE
54,31237,25th St & Pennsylvania Ave NW,25th St and Pennsylvania Ave NW
55,31607,14th & D St SE,14th and D St SE
56,31502,John McCormack Dr & Michigan Ave NE,John McCormack Dr and Michigan Ave NE
57,31207,Georgia Ave and Fairmont St NW,Georgia Ave and Fairmont St NW
58,31002,20th & Crystal Dr,20th and Crystal Dr
59,31010,S Glebe & Potomac Ave,S Glebe and Potomac Ave
60,31219,10th St & Constitution Ave NW,10th St and Constitution Ave NW
61,31217,USDA / 12th & Independence Ave SW,USDA / 12th and Independence Ave SW
62,31009,27th & Crystal Dr,27th and Crystal Dr
63,31301,Ward Circle / American University,Ward Circle / American University
64,31610,Eastern Market / 7th & North Carolina Ave SE,Eastern Market / 7th and North Carolina Ave SE
65,31609,Maine Ave & 7th St SW,Maine Ave and 7th St SW
66,31215,Georgetown Harbor / 30th St NW,Georgetown Harbor / 30th St NW
67,31225,C & O Canal & Wisconsin Ave NW,C and O Canal and Wisconsin Ave NW
68,31238,14th & G St NW,14th and G St NW
69,31236,37th & O St NW / Georgetown University,37th and O St NW / Georgetown University
70,31005,Pentagon City Metro / 12th & S Hayes St,Pentagon City Metro / 12th and S Hayes St
71,31618,4th & East Capitol St NE,4th and East Capitol St NE
72,31604,3rd & H St NW,3rd and H St NW
73,31624,North Capitol St & F St NW,North Capitol St and F St NW
74,31106,Calvert & Biltmore St NW,Calvert and Biltmore St NW
75,31700,Good Hope & Naylor Rd SE,Good Hope and Naylor Rd SE
76,31206,19th & E Street NW,19th and E Street NW
77,31235,19th St & Constitution Ave NW,19th St and Constitution Ave NW
78,31222,New York Ave & 15th St NW,New York Ave and 15th St NW
79,31220,US Dept of State / Virginia Ave & 21st St NW,US Dept of State / Virginia Ave and 21st St NW
80,31008,12th & Army Navy Dr,12th and Army Navy Dr
81,31226,34th St & Wisconsin Ave NW,34th St and Wisconsin Ave NW
82,31500,4th & W St NE,4th and W St NE
83,31012,26th & S Clark St,26th and S Clark St
84,31608,8th & Eye St SE / Barracks Row,8th and Eye St SE / Barracks Row
85,31216,14th St & New York Ave NW,14th St and New York Ave NW
86,31303,Tenleytown / Wisconsin Ave & Albemarle St NW,Tenleytown / Wisconsin Ave and Albemarle St NW
87,31504,10th & Monroe St NE,10th and Monroe St NE
88,31003,15th & Crystal Dr,15th and Crystal Dr
89,31013,Eads & 22nd St S,Eads and 22nd St S
90,31505,Eckington Pl & Q St NE,Eckington Pl and Q St NE
91,31209,1st & N St SE,1st and N St SE
92,31211,Kennedy Center,Kennedy Center
93,31601,19th & East Capitol St SE,19th and East Capitol St SE
94,31617,Bladensburg Rd & Benning Rd NE,Bladensburg Rd and Benning Rd NE
95,31805,Pennsylvania & Minnesota Ave SE,Pennsylvania and Minnesota Ave SE
96,31501,12th & Newton St NE,12th and Newton St NE
97,31704,Nannie Helen Burroughs & Minnesota Ave NE,Nannie Helen Burroughs and Minnesota Ave NE
98,31804,Anacostia Library,Anacostia Library
99,31703,Minnesota Ave Metro/DOES,Minnesota Ave Metro/DOES
100,31802,Good Hope Rd & MLK Ave SE,Good Hope Rd and MLK Ave SE
101,31801,Anacostia Metro,Anacostia Metro
102,31705,Benning Branch Library,Benning Branch Library
103,31266,11th & M St NW,11th and M St NW
104,31000,Eads St & 15th St S,Eads St and 15th St S
105,31702,Randle Circle & Minnesota Ave SE,Randle Circle and Minnesota Ave SE
106,31052,Potomac Ave & 35th St S,Potomac Ave and 35th St S
107,31262,11th & F St NW,11th and F St NW
108,31014,Lynn & 19th St North,Lynn and 19th St North
109,31016,Clarendon Blvd & Pierce St,Clarendon Blvd and Pierce St
110,31018,N Rhodes & 16th St N,N Rhodes and 16th St N
111,31015,Rosslyn Metro / Wilson Blvd & Ft Myer Dr,Rosslyn Metro / Wilson Blvd and Ft Myer Dr
112,31231,14th & D St NW / Ronald Reagan Building,14th and D St NW / Ronald Reagan Building
113,31233,17th & K St NW / Farragut Square,17th and K St NW / Farragut Square
114,31232,7th & F St NW / National Portrait Gallery,7th and F St NW / National Portrait Gallery
115,31230,Metro Center / 12th & G St NW,Metro Center / 12th and G St NW
116,31621,4th & D St NW / Judiciary Square,4th and D St NW / Judiciary Square
117,31701,Branch & Pennsylvania Ave SE,Branch and Pennsylvania Ave SE
118,31706,Fairfax Village,Fairfax Village
119,31261,21st St & Constitution Ave NW,21st St and Constitution Ave NW
120,31017,Wilson Blvd & N Uhle St,Wilson Blvd and N Uhle St
121,31019,Wilson Blvd & N Edgewood St,Wilson Blvd and N Edgewood St
122,31113,Columbia Rd & Belmont St NW,Columbia Rd and Belmont St NW
123,31239,Rhode Island & Connecticut Ave NW,Rhode Island and Connecticut Ave NW
124,31241,Thomas Circle,Thomas Circle
125,31022,Clarendon Metro / Wilson Blvd & N Highland St,Clarendon Metro / Wilson Blvd and N Highland St
126,31021,Clarendon Blvd & N Fillmore St,Clarendon Blvd and N Fillmore St
127,31242,18th St & Pennsylvania Ave NW,18th St and Pennsylvania Ave NW
128,31245,7th & R St NW / Shaw Library,7th and R St NW / Shaw Library
129,31625,3rd & G St SE,3rd and G St SE
130,31020,Wilson Blvd & Franklin Rd,Wilson Blvd and Franklin Rd
131,31244,4th & E St SW,4th and E St SW
132,31506,1st & Rhode Island Ave NW,1st and Rhode Island Ave NW
133,31404,9th & Upshur St NW,9th and Upshur St NW
134,31115,Columbia Rd & Georgia Ave NW,Columbia Rd and Georgia Ave NW
135,31615,6th & H St NE,6th and H St NE
136,31614,11th & H St NE,11th and H St NE
137,31116,California St & Florida Ave NW,California St and Florida Ave NW
138,31246,M St & Pennsylvania Ave NW,M St and Pennsylvania Ave NW
139,31307,3000 Connecticut Ave NW / National Zoo,3000 Connecticut Ave NW / National Zoo
140,31707,Benning Rd & East Capitol St NE / Benning Rd Metro,Benning Rd and East Capitol St NE / Benning Rd Metro
141,31708,Anacostia Ave & Benning Rd NE / River Terrace,Anacostia Ave and Benning Rd NE / River Terrace
142,31626,15th St & Massachusetts Ave SE,15th St and Massachusetts Ave SE
143,31806,Congress Heights Metro,Congress Heights Metro

In [65]:
#Prepare address location for API
StaLoc_df["Add"]= StaLoc_df["Address"].str.replace("/", "and", case = False)

<ipython-input-65-8f273964f1a1>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  StaLoc_df["Add"]= StaLoc_df["Address"].str.replace("/", "and", case = False)

In [66]:
#Display df
StaLoc_df

,Start station number,Start station,Address,Add
0,31620,5th & F St NW,5th and F St NW,5th and F St NW
1,31105,14th & Harvard St NW,14th and Harvard St NW,14th and Harvard St NW
2,31400,Georgia & New Hampshire Ave NW,Georgia and New Hampshire Ave NW,Georgia and New Hampshire Ave NW
3,31111,10th & U St NW,10th and U St NW,10th and U St NW
4,31104,Adams Mill & Columbia Rd NW,Adams Mill and Columbia Rd NW,Adams Mill and Columbia Rd NW
5,31605,3rd & D St SE,3rd and D St SE,3rd and D St SE
6,31203,14th & Rhode Island Ave NW,14th and Rhode Island Ave NW,14th and Rhode Island Ave NW
7,31201,15th & P St NW,15th and P St NW,15th and P St NW
8,31300,Van Ness Metro / UDC,Van Ness Metro / UDC,Van Ness Metro and UDC
9,31007,Crystal City Metro / 18th & Bell St,Crystal City Metro / 18th and Bell St,Crystal City Metro and 18th and Bell St
10,31202,14th & R St NW,14th and R St NW,14th and R St NW
11,31212,21st & M St NW,21st and M St NW,21st and M St NW
12,31613,Eastern Market Metro / Pennsylvania Ave & 7th St SE,Eastern Market Metro / Pennsylvania Ave and 7th St SE,Eastern Market Metro and Pennsylvania Ave and 7th St SE
13,31103,16th & Harvard St NW,16th and Harvard St NW,16th and Harvard St NW
14,31109,7th & T St NW,7th and T St NW,7th and T St NW
15,31302,Wisconsin Ave & Newark St NW,Wisconsin Ave and Newark St NW,Wisconsin Ave and Newark St NW
16,31229,New Hampshire Ave & T St NW,New Hampshire Ave and T St NW,New Hampshire Ave and T St NW
17,31603,1st & M St NE,1st and M St NE,1st and M St NE
18,31305,Connecticut Ave & Newark St NW / Cleveland Park,Connecticut Ave and Newark St NW / Cleveland Park,Connecticut Ave and Newark St NW and Cleveland Park
19,31600,5th & K St NW,5th and K St NW,5th and K St NW
20,31101,14th & V St NW,14th and V St NW,14th and V St NW
21,31208,M St & New Jersey Ave SE,M St and New Jersey Ave SE,M St and New Jersey Ave SE
22,31503,Florida Ave & R St NW,Florida Ave and R St NW,Florida Ave and R St NW
23,31213,17th & K St NW,17th and K St NW,17th and K St NW
24,31611,13th & H St NE,13th and H St NE,13th and H St NE
25,31107,Lamont & Mt Pleasant NW,Lamont and Mt Pleasant NW,Lamont and Mt Pleasant NW
26,31221,18th & M St NW,18th and M St NW,18th and M St NW
27,31001,18th & Eads St.,18th and Eads St.,18th and Eads St.
28,31224,19th & L St NW,19th and L St NW,19th and L St NW
29,31602,Park Rd & Holmead Pl NW,Park Rd and Holmead Pl NW,Park Rd and Holmead Pl NW
30,31100,19th St & Pennsylvania Ave NW,19th St and Pennsylvania Ave NW,19th St and Pennsylvania Ave NW
31,31205,21st & I St NW,21st and I St NW,21st and I St NW
32,31402,14th St Heights / 14th & Crittenden St NW,14th St Heights / 14th and Crittenden St NW,14th St Heights and 14th and Crittenden St NW
33,31606,Potomac & Pennsylvania Ave SE,Potomac and Pennsylvania Ave SE,Potomac and Pennsylvania Ave SE
34,31623,Columbus Circle / Union Station,Columbus Circle / Union Station,Columbus Circle and Union Station
35,31200,Massachusetts Ave & Dupont Circle NW,Massachusetts Ave and Dupont Circle NW,Massachusetts Ave and Dupont Circle NW
36,31011,23rd & Crystal Dr,23rd and Crystal Dr,23rd and Crystal Dr
37,31110,20th St & Florida Ave NW,20th St and Florida Ave NW,20th St and Florida Ave NW
38,31112,Harvard St & Adams Mill Rd NW,Harvard St and Adams Mill Rd NW,Harvard St and Adams Mill Rd NW
39,31214,17th & Corcoran St NW,17th and Corcoran St NW,17th and Corcoran St NW
40,31102,11th & Kenyon St NW,11th and Kenyon St NW,11th and Kenyon St NW
41,31619,Lincoln Park / 13th & East Capitol St NE,Lincoln Park / 13th and East Capitol St NE,Lincoln Park and 13th and East Capitol St NE
42,31218,L'Enfant Plaza / 7th & C St SW,L'Enfant Plaza / 7th and C St SW,L'Enfant Plaza and 7th and C St SW
43,31108,4th & M St SW,4th and M St SW,4th and M St SW
44,31622,13th & D St NE,13th and D St NE,13th and D St NE
45,31228,8th & H St NW,8th and H St NW,8th and H St NW
46,31004,Aurora Hills Community Ctr/18th & Hayes St,Aurora Hills Community Ctr/18th and Hayes St,Aurora Hills Community Ctrand18th and Hayes St
47,31204,20th & E St NW,20th and E St NW,20th and E St NW
48,31006,S Joyce & Army Navy Dr,S Joyce and Army Navy Dr,S Joyce and Army Navy Dr
49,31223,Convention Center / 7th & M St NW,Convention Center / 7th and M St NW,Convention Center and 7th and M St NW
50,31227,13th St & New York Ave NW,13th St and New York Ave NW,13th St and New York Ave NW
51,31304,36th & Calvert St NW / Glover Park,36th and Calvert St NW / Glover Park,36th and Calvert St NW and Glover Park
52,31401,14th St & Spring Rd NW,14th St and Spring Rd NW,14th St and Spring Rd NW
53,31616,3rd & H St NE,3rd and H St NE,3rd and H St NE
54,31237,25th St & Pennsylvania Ave NW,25th St and Pennsylvania Ave NW,25th St and Pennsylvania Ave NW
55,31607,14th & D St SE,14th and D St SE,14th and D St SE
56,31502,John McCormack Dr & Michigan Ave NE,John McCormack Dr and Michigan Ave NE,John McCormack Dr and Michigan Ave NE
57,31207,Georgia Ave and Fairmont St NW,Georgia Ave and Fairmont St NW,Georgia Ave and Fairmont St NW
58,31002,20th & Crystal Dr,20th and Crystal Dr,20th and Crystal Dr
59,31010,S Glebe & Potomac Ave,S Glebe and Potomac Ave,S Glebe and Potomac Ave
60,31219,10th St & Constitution Ave NW,10th St and Constitution Ave NW,10th St and Constitution Ave NW
61,31217,USDA / 12th & Independence Ave SW,USDA / 12th and Independence Ave SW,USDA and 12th and Independence Ave SW
62,31009,27th & Crystal Dr,27th and Crystal Dr,27th and Crystal Dr
63,31301,Ward Circle / American University,Ward Circle / American University,Ward Circle and American University
64,31610,Eastern Market / 7th & North Carolina Ave SE,Eastern Market / 7th and North Carolina Ave SE,Eastern Market and 7th and North Carolina Ave SE
65,31609,Maine Ave & 7th St SW,Maine Ave and 7th St SW,Maine Ave and 7th St SW
66,31215,Georgetown Harbor / 30th St NW,Georgetown Harbor / 30th St NW,Georgetown Harbor and 30th St NW
67,31225,C & O Canal & Wisconsin Ave NW,C and O Canal and Wisconsin Ave NW,C and O Canal and Wisconsin Ave NW
68,31238,14th & G St NW,14th and G St NW,14th and G St NW
69,31236,37th & O St NW / Georgetown University,37th and O St NW / Georgetown University,37th and O St NW and Georgetown University
70,31005,Pentagon City Metro / 12th & S Hayes St,Pentagon City Metro / 12th and S Hayes St,Pentagon City Metro and 12th and S Hayes St
71,31618,4th & East Capitol St NE,4th and East Capitol St NE,4th and East Capitol St NE
72,31604,3rd & H St NW,3rd and H St NW,3rd and H St NW
73,31624,North Capitol St & F St NW,North Capitol St and F St NW,North Capitol St and F St NW
74,31106,Calvert & Biltmore St NW,Calvert and Biltmore St NW,Calvert and Biltmore St NW
75,31700,Good Hope & Naylor Rd SE,Good Hope and Naylor Rd SE,Good Hope and Naylor Rd SE
76,31206,19th & E Street NW,19th and E Street NW,19th and E Street NW
77,31235,19th St & Constitution Ave NW,19th St and Constitution Ave NW,19th St and Constitution Ave NW
78,31222,New York Ave & 15th St NW,New York Ave and 15th St NW,New York Ave and 15th St NW
79,31220,US Dept of State / Virginia Ave & 21st St NW,US Dept of State / Virginia Ave and 21st St NW,US Dept of State and Virginia Ave and 21st St NW
80,31008,12th & Army Navy Dr,12th and Army Navy Dr,12th and Army Navy Dr
81,31226,34th St & Wisconsin Ave NW,34th St and Wisconsin Ave NW,34th St and Wisconsin Ave NW
82,31500,4th & W St NE,4th and W St NE,4th and W St NE
83,31012,26th & S Clark St,26th and S Clark St,26th and S Clark St
84,31608,8th & Eye St SE / Barracks Row,8th and Eye St SE / Barracks Row,8th and Eye St SE and Barracks Row
85,31216,14th St & New York Ave NW,14th St and New York Ave NW,14th St and New York Ave NW
86,31303,Tenleytown / Wisconsin Ave & Albemarle St NW,Tenleytown / Wisconsin Ave and Albemarle St NW,Tenleytown and Wisconsin Ave and Albemarle St NW
87,31504,10th & Monroe St NE,10th and Monroe St NE,10th and Monroe St NE
88,31003,15th & Crystal Dr,15th and Crystal Dr,15th and Crystal Dr
89,31013,Eads & 22nd St S,Eads and 22nd St S,Eads and 22nd St S
90,31505,Eckington Pl & Q St NE,Eckington Pl and Q St NE,Eckington Pl and Q St NE
91,31209,1st & N St SE,1st and N St SE,1st and N St SE
92,31211,Kennedy Center,Kennedy Center,Kennedy Center
93,31601,19th & East Capitol St SE,19th and East Capitol St SE,19th and East Capitol St SE
94,31617,Bladensburg Rd & Benning Rd NE,Bladensburg Rd and Benning Rd NE,Bladensburg Rd and Benning Rd NE
95,31805,Pennsylvania & Minnesota Ave SE,Pennsylvania and Minnesota Ave SE,Pennsylvania and Minnesota Ave SE
96,31501,12th & Newton St NE,12th and Newton St NE,12th and Newton St NE
97,31704,Nannie Helen Burroughs & Minnesota Ave NE,Nannie Helen Burroughs and Minnesota Ave NE,Nannie Helen Burroughs and Minnesota Ave NE
98,31804,Anacostia Library,Anacostia Library,Anacostia Library
99,31703,Minnesota Ave Metro/DOES,Minnesota Ave Metro/DOES,Minnesota Ave MetroandDOES
100,31802,Good Hope Rd & MLK Ave SE,Good Hope Rd and MLK Ave SE,Good Hope Rd and MLK Ave SE
101,31801,Anacostia Metro,Anacostia Metro,Anacostia Metro
102,31705,Benning Branch Library,Benning Branch Library,Benning Branch Library
103,31266,11th & M St NW,11th and M St NW,11th and M St NW
104,31000,Eads St & 15th St S,Eads St and 15th St S,Eads St and 15th St S
105,31702,Randle Circle & Minnesota Ave SE,Randle Circle and Minnesota Ave SE,Randle Circle and Minnesota Ave SE
106,31052,Potomac Ave & 35th St S,Potomac Ave and 35th St S,Potomac Ave and 35th St S
107,31262,11th & F St NW,11th and F St NW,11th and F St NW
108,31014,Lynn & 19th St North,Lynn and 19th St North,Lynn and 19th St North
109,31016,Clarendon Blvd & Pierce St,Clarendon Blvd and Pierce St,Clarendon Blvd and Pierce St
110,31018,N Rhodes & 16th St N,N Rhodes and 16th St N,N Rhodes and 16th St N
111,31015,Rosslyn Metro / Wilson Blvd & Ft Myer Dr,Rosslyn Metro / Wilson Blvd and Ft Myer Dr,Rosslyn Metro and Wilson Blvd and Ft Myer Dr
112,31231,14th & D St NW / Ronald Reagan Building,14th and D St NW / Ronald Reagan Building,14th and D St NW and Ronald Reagan Building
113,31233,17th & K St NW / Farragut Square,17th and K St NW / Farragut Square,17th and K St NW and Farragut Square
114,31232,7th & F St NW / National Portrait Gallery,7th and F St NW / National Portrait Gallery,7th and F St NW and National Portrait Gallery
115,31230,Metro Center / 12th & G St NW,Metro Center / 12th and G St NW,Metro Center and 12th and G St NW
116,31621,4th & D St NW / Judiciary Square,4th and D St NW / Judiciary Square,4th and D St NW and Judiciary Square
117,31701,Branch & Pennsylvania Ave SE,Branch and Pennsylvania Ave SE,Branch and Pennsylvania Ave SE
118,31706,Fairfax Village,Fairfax Village,Fairfax Village
119,31261,21st St & Constitution Ave NW,21st St and Constitution Ave NW,21st St and Constitution Ave NW
120,31017,Wilson Blvd & N Uhle St,Wilson Blvd and N Uhle St,Wilson Blvd and N Uhle St
121,31019,Wilson Blvd & N Edgewood St,Wilson Blvd and N Edgewood St,Wilson Blvd and N Edgewood St
122,31113,Columbia Rd & Belmont St NW,Columbia Rd and Belmont St NW,Columbia Rd and Belmont St NW
123,31239,Rhode Island & Connecticut Ave NW,Rhode Island and Connecticut Ave NW,Rhode Island and Connecticut Ave NW
124,31241,Thomas Circle,Thomas Circle,Thomas Circle
125,31022,Clarendon Metro / Wilson Blvd & N Highland St,Clarendon Metro / Wilson Blvd and N Highland St,Clarendon Metro and Wilson Blvd and N Highland St
126,31021,Clarendon Blvd & N Fillmore St,Clarendon Blvd and N Fillmore St,Clarendon Blvd and N Fillmore St
127,31242,18th St & Pennsylvania Ave NW,18th St and Pennsylvania Ave NW,18th St and Pennsylvania Ave NW
128,31245,7th & R St NW / Shaw Library,7th and R St NW / Shaw Library,7th and R St NW and Shaw Library
129,31625,3rd & G St SE,3rd and G St SE,3rd and G St SE
130,31020,Wilson Blvd & Franklin Rd,Wilson Blvd and Franklin Rd,Wilson Blvd and Franklin Rd
131,31244,4th & E St SW,4th and E St SW,4th and E St SW
132,31506,1st & Rhode Island Ave NW,1st and Rhode Island Ave NW,1st and Rhode Island Ave NW
133,31404,9th & Upshur St NW,9th and Upshur St NW,9th and Upshur St NW
134,31115,Columbia Rd & Georgia Ave NW,Columbia Rd and Georgia Ave NW,Columbia Rd and Georgia Ave NW
135,31615,6th & H St NE,6th and H St NE,6th and H St NE
136,31614,11th & H St NE,11th and H St NE,11th and H St NE
137,31116,California St & Florida Ave NW,California St and Florida Ave NW,California St and Florida Ave NW
138,31246,M St & Pennsylvania Ave NW,M St and Pennsylvania Ave NW,M St and Pennsylvania Ave NW
139,31307,3000 Connecticut Ave NW / National Zoo,3000 Connecticut Ave NW / National Zoo,3000 Connecticut Ave NW and National Zoo
140,31707,Benning Rd & East Capitol St NE / Benning Rd Metro,Benning Rd and East Capitol St NE / Benning Rd Metro,Benning Rd and East Capitol St NE and Benning Rd Metro
141,31708,Anacostia Ave & Benning Rd NE / River Terrace,Anacostia Ave and Benning Rd NE / River Terrace,Anacostia Ave and Benning Rd NE and River Terrace
142,31626,15th St & Massachusetts Ave SE,15th St and Massachusetts Ave SE,15th St and Massachusetts Ave SE
143,31806,Congress Heights Metro,Congress Heights Metro,Congress Heights Metro

In [68]:
#Add city
StaLoc_df['Location'] = StaLoc_df["Add"].astype(str) + ', Washigton, DC'
StaLoc_df

<ipython-input-68-d89510ad450b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  StaLoc_df['Location'] = StaLoc_df["Add"].astype(str) + ', Washigton, DC'

,Start station number,Start station,Address,Add,Location
0,31620,5th & F St NW,5th and F St NW,5th and F St NW,"5th and F St NW, Washigton, DC"
1,31105,14th & Harvard St NW,14th and Harvard St NW,14th and Harvard St NW,"14th and Harvard St NW, Washigton, DC"
2,31400,Georgia & New Hampshire Ave NW,Georgia and New Hampshire Ave NW,Georgia and New Hampshire Ave NW,"Georgia and New Hampshire Ave NW, Washigton, DC"
3,31111,10th & U St NW,10th and U St NW,10th and U St NW,"10th and U St NW, Washigton, DC"
4,31104,Adams Mill & Columbia Rd NW,Adams Mill and Columbia Rd NW,Adams Mill and Columbia Rd NW,"Adams Mill and Columbia Rd NW, Washigton, DC"
5,31605,3rd & D St SE,3rd and D St SE,3rd and D St SE,"3rd and D St SE, Washigton, DC"
6,31203,14th & Rhode Island Ave NW,14th and Rhode Island Ave NW,14th and Rhode Island Ave NW,"14th and Rhode Island Ave NW, Washigton, DC"
7,31201,15th & P St NW,15th and P St NW,15th and P St NW,"15th and P St NW, Washigton, DC"
8,31300,Van Ness Metro / UDC,Van Ness Metro / UDC,Van Ness Metro and UDC,"Van Ness Metro and UDC, Washigton, DC"
9,31007,Crystal City Metro / 18th & Bell St,Crystal City Metro / 18th and Bell St,Crystal City Metro and 18th and Bell St,"Crystal City Metro and 18th and Bell St, Washigton, DC"
10,31202,14th & R St NW,14th and R St NW,14th and R St NW,"14th and R St NW, Washigton, DC"
11,31212,21st & M St NW,21st and M St NW,21st and M St NW,"21st and M St NW, Washigton, DC"
12,31613,Eastern Market Metro / Pennsylvania Ave & 7th St SE,Eastern Market Metro / Pennsylvania Ave and 7th St SE,Eastern Market Metro and Pennsylvania Ave and 7th St SE,"Eastern Market Metro and Pennsylvania Ave and 7th St SE, Washigton, DC"
13,31103,16th & Harvard St NW,16th and Harvard St NW,16th and Harvard St NW,"16th and Harvard St NW, Washigton, DC"
14,31109,7th & T St NW,7th and T St NW,7th and T St NW,"7th and T St NW, Washigton, DC"
15,31302,Wisconsin Ave & Newark St NW,Wisconsin Ave and Newark St NW,Wisconsin Ave and Newark St NW,"Wisconsin Ave and Newark St NW, Washigton, DC"
16,31229,New Hampshire Ave & T St NW,New Hampshire Ave and T St NW,New Hampshire Ave and T St NW,"New Hampshire Ave and T St NW, Washigton, DC"
17,31603,1st & M St NE,1st and M St NE,1st and M St NE,"1st and M St NE, Washigton, DC"
18,31305,Connecticut Ave & Newark St NW / Cleveland Park,Connecticut Ave and Newark St NW / Cleveland Park,Connecticut Ave and Newark St NW and Cleveland Park,"Connecticut Ave and Newark St NW and Cleveland Park, Washigton, DC"
19,31600,5th & K St NW,5th and K St NW,5th and K St NW,"5th and K St NW, Washigton, DC"
20,31101,14th & V St NW,14th and V St NW,14th and V St NW,"14th and V St NW, Washigton, DC"
21,31208,M St & New Jersey Ave SE,M St and New Jersey Ave SE,M St and New Jersey Ave SE,"M St and New Jersey Ave SE, Washigton, DC"
22,31503,Florida Ave & R St NW,Florida Ave and R St NW,Florida Ave and R St NW,"Florida Ave and R St NW, Washigton, DC"
23,31213,17th & K St NW,17th and K St NW,17th and K St NW,"17th and K St NW, Washigton, DC"
24,31611,13th & H St NE,13th and H St NE,13th and H St NE,"13th and H St NE, Washigton, DC"
25,31107,Lamont & Mt Pleasant NW,Lamont and Mt Pleasant NW,Lamont and Mt Pleasant NW,"Lamont and Mt Pleasant NW, Washigton, DC"
26,31221,18th & M St NW,18th and M St NW,18th and M St NW,"18th and M St NW, Washigton, DC"
27,31001,18th & Eads St.,18th and Eads St.,18th and Eads St.,"18th and Eads St., Washigton, DC"
28,31224,19th & L St NW,19th and L St NW,19th and L St NW,"19th and L St NW, Washigton, DC"
29,31602,Park Rd & Holmead Pl NW,Park Rd and Holmead Pl NW,Park Rd and Holmead Pl NW,"Park Rd and Holmead Pl NW, Washigton, DC"
30,31100,19th St & Pennsylvania Ave NW,19th St and Pennsylvania Ave NW,19th St and Pennsylvania Ave NW,"19th St and Pennsylvania Ave NW, Washigton, DC"
31,31205,21st & I St NW,21st and I St NW,21st and I St NW,"21st and I St NW, Washigton, DC"
32,31402,14th St Heights / 14th & Crittenden St NW,14th St Heights / 14th and Crittenden St NW,14th St Heights and 14th and Crittenden St NW,"14th St Heights and 14th and Crittenden St NW, Washigton, DC"
33,31606,Potomac & Pennsylvania Ave SE,Potomac and Pennsylvania Ave SE,Potomac and Pennsylvania Ave SE,"Potomac and Pennsylvania Ave SE, Washigton, DC"
34,31623,Columbus Circle / Union Station,Columbus Circle / Union Station,Columbus Circle and Union Station,"Columbus Circle and Union Station, Washigton, DC"
35,31200,Massachusetts Ave & Dupont Circle NW,Massachusetts Ave and Dupont Circle NW,Massachusetts Ave and Dupont Circle NW,"Massachusetts Ave and Dupont Circle NW, Washigton, DC"
36,31011,23rd & Crystal Dr,23rd and Crystal Dr,23rd and Crystal Dr,"23rd and Crystal Dr, Washigton, DC"
37,31110,20th St & Florida Ave NW,20th St and Florida Ave NW,20th St and Florida Ave NW,"20th St and Florida Ave NW, Washigton, DC"
38,31112,Harvard St & Adams Mill Rd NW,Harvard St and Adams Mill Rd NW,Harvard St and Adams Mill Rd NW,"Harvard St and Adams Mill Rd NW, Washigton, DC"
39,31214,17th & Corcoran St NW,17th and Corcoran St NW,17th and Corcoran St NW,"17th and Corcoran St NW, Washigton, DC"
40,31102,11th & Kenyon St NW,11th and Kenyon St NW,11th and Kenyon St NW,"11th and Kenyon St NW, Washigton, DC"
41,31619,Lincoln Park / 13th & East Capitol St NE,Lincoln Park / 13th and East Capitol St NE,Lincoln Park and 13th and East Capitol St NE,"Lincoln Park and 13th and East Capitol St NE , Washigton, DC"
42,31218,L'Enfant Plaza / 7th & C St SW,L'Enfant Plaza / 7th and C St SW,L'Enfant Plaza and 7th and C St SW,"L'Enfant Plaza and 7th and C St SW, Washigton, DC"
43,31108,4th & M St SW,4th and M St SW,4th and M St SW,"4th and M St SW, Washigton, DC"
44,31622,13th & D St NE,13th and D St NE,13th and D St NE,"13th and D St NE, Washigton, DC"
45,31228,8th & H St NW,8th and H St NW,8th and H St NW,"8th and H St NW, Washigton, DC"
46,31004,Aurora Hills Community Ctr/18th & Hayes St,Aurora Hills Community Ctr/18th and Hayes St,Aurora Hills Community Ctrand18th and Hayes St,"Aurora Hills Community Ctrand18th and Hayes St, Washigton, DC"
47,31204,20th & E St NW,20th and E St NW,20th and E St NW,"20th and E St NW, Washigton, DC"
48,31006,S Joyce & Army Navy Dr,S Joyce and Army Navy Dr,S Joyce and Army Navy Dr,"S Joyce and Army Navy Dr, Washigton, DC"
49,31223,Convention Center / 7th & M St NW,Convention Center / 7th and M St NW,Convention Center and 7th and M St NW,"Convention Center and 7th and M St NW, Washigton, DC"
50,31227,13th St & New York Ave NW,13th St and New York Ave NW,13th St and New York Ave NW,"13th St and New York Ave NW, Washigton, DC"
51,31304,36th & Calvert St NW / Glover Park,36th and Calvert St NW / Glover Park,36th and Calvert St NW and Glover Park,"36th and Calvert St NW and Glover Park, Washigton, DC"
52,31401,14th St & Spring Rd NW,14th St and Spring Rd NW,14th St and Spring Rd NW,"14th St and Spring Rd NW, Washigton, DC"
53,31616,3rd & H St NE,3rd and H St NE,3rd and H St NE,"3rd and H St NE, Washigton, DC"
54,31237,25th St & Pennsylvania Ave NW,25th St and Pennsylvania Ave NW,25th St and Pennsylvania Ave NW,"25th St and Pennsylvania Ave NW, Washigton, DC"
55,31607,14th & D St SE,14th and D St SE,14th and D St SE,"14th and D St SE, Washigton, DC"
56,31502,John McCormack Dr & Michigan Ave NE,John McCormack Dr and Michigan Ave NE,John McCormack Dr and Michigan Ave NE,"John McCormack Dr and Michigan Ave NE, Washigton, DC"
57,31207,Georgia Ave and Fairmont St NW,Georgia Ave and Fairmont St NW,Georgia Ave and Fairmont St NW,"Georgia Ave and Fairmont St NW, Washigton, DC"
58,31002,20th & Crystal Dr,20th and Crystal Dr,20th and Crystal Dr,"20th and Crystal Dr, Washigton, DC"
59,31010,S Glebe & Potomac Ave,S Glebe and Potomac Ave,S Glebe and Potomac Ave,"S Glebe and Potomac Ave, Washigton, DC"
60,31219,10th St & Constitution Ave NW,10th St and Constitution Ave NW,10th St and Constitution Ave NW,"10th St and Constitution Ave NW, Washigton, DC"
61,31217,USDA / 12th & Independence Ave SW,USDA / 12th and Independence Ave SW,USDA and 12th and Independence Ave SW,"USDA and 12th and Independence Ave SW, Washigton, DC"
62,31009,27th & Crystal Dr,27th and Crystal Dr,27th and Crystal Dr,"27th and Crystal Dr, Washigton, DC"
63,31301,Ward Circle / American University,Ward Circle / American University,Ward Circle and American University,"Ward Circle and American University, Washigton, DC"
64,31610,Eastern Market / 7th & North Carolina Ave SE,Eastern Market / 7th and North Carolina Ave SE,Eastern Market and 7th and North Carolina Ave SE,"Eastern Market and 7th and North Carolina Ave SE, Washigton, DC"
65,31609,Maine Ave & 7th St SW,Maine Ave and 7th St SW,Maine Ave and 7th St SW,"Maine Ave and 7th St SW, Washigton, DC"
66,31215,Georgetown Harbor / 30th St NW,Georgetown Harbor / 30th St NW,Georgetown Harbor and 30th St NW,"Georgetown Harbor and 30th St NW, Washigton, DC"
67,31225,C & O Canal & Wisconsin Ave NW,C and O Canal and Wisconsin Ave NW,C and O Canal and Wisconsin Ave NW,"C and O Canal and Wisconsin Ave NW, Washigton, DC"
68,31238,14th & G St NW,14th and G St NW,14th and G St NW,"14th and G St NW, Washigton, DC"
69,31236,37th & O St NW / Georgetown University,37th and O St NW / Georgetown University,37th and O St NW and Georgetown University,"37th and O St NW and Georgetown University, Washigton, DC"
70,31005,Pentagon City Metro / 12th & S Hayes St,Pentagon City Metro / 12th and S Hayes St,Pentagon City Metro and 12th and S Hayes St,"Pentagon City Metro and 12th and S Hayes St, Washigton, DC"
71,31618,4th & East Capitol St NE,4th and East Capitol St NE,4th and East Capitol St NE,"4th and East Capitol St NE, Washigton, DC"
72,31604,3rd & H St NW,3rd and H St NW,3rd and H St NW,"3rd and H St NW, Washigton, DC"
73,31624,North Capitol St & F St NW,North Capitol St and F St NW,North Capitol St and F St NW,"North Capitol St and F St NW, Washigton, DC"
74,31106,Calvert & Biltmore St NW,Calvert and Biltmore St NW,Calvert and Biltmore St NW,"Calvert and Biltmore St NW, Washigton, DC"
75,31700,Good Hope & Naylor Rd SE,Good Hope and Naylor Rd SE,Good Hope and Naylor Rd SE,"Good Hope and Naylor Rd SE, Washigton, DC"
76,31206,19th & E Street NW,19th and E Street NW,19th and E Street NW,"19th and E Street NW, Washigton, DC"
77,31235,19th St & Constitution Ave NW,19th St and Constitution Ave NW,19th St and Constitution Ave NW,"19th St and Constitution Ave NW, Washigton, DC"
78,31222,New York Ave & 15th St NW,New York Ave and 15th St NW,New York Ave and 15th St NW,"New York Ave and 15th St NW, Washigton, DC"
79,31220,US Dept of State / Virginia Ave & 21st St NW,US Dept of State / Virginia Ave and 21st St NW,US Dept of State and Virginia Ave and 21st St NW,"US Dept of State and Virginia Ave and 21st St NW, Washigton, DC"
80,31008,12th & Army Navy Dr,12th and Army Navy Dr,12th and Army Navy Dr,"12th and Army Navy Dr, Washigton, DC"
81,31226,34th St & Wisconsin Ave NW,34th St and Wisconsin Ave NW,34th St and Wisconsin Ave NW,"34th St and Wisconsin Ave NW, Washigton, DC"
82,31500,4th & W St NE,4th and W St NE,4th and W St NE,"4th and W St NE, Washigton, DC"
83,31012,26th & S Clark St,26th and S Clark St,26th and S Clark St,"26th and S Clark St, Washigton, DC"
84,31608,8th & Eye St SE / Barracks Row,8th and Eye St SE / Barracks Row,8th and Eye St SE and Barracks Row,"8th and Eye St SE and Barracks Row, Washigton, DC"
85,31216,14th St & New York Ave NW,14th St and New York Ave NW,14th St and New York Ave NW,"14th St and New York Ave NW, Washigton, DC"
86,31303,Tenleytown / Wisconsin Ave & Albemarle St NW,Tenleytown / Wisconsin Ave and Albemarle St NW,Tenleytown and Wisconsin Ave and Albemarle St NW,"Tenleytown and Wisconsin Ave and Albemarle St NW, Washigton, DC"
87,31504,10th & Monroe St NE,10th and Monroe St NE,10th and Monroe St NE,"10th and Monroe St NE, Washigton, DC"
88,31003,15th & Crystal Dr,15th and Crystal Dr,15th and Crystal Dr,"15th and Crystal Dr, Washigton, DC"
89,31013,Eads & 22nd St S,Eads and 22nd St S,Eads and 22nd St S,"Eads and 22nd St S, Washigton, DC"
90,31505,Eckington Pl & Q St NE,Eckington Pl and Q St NE,Eckington Pl and Q St NE,"Eckington Pl and Q St NE, Washigton, DC"
91,31209,1st & N St SE,1st and N St SE,1st and N St SE,"1st and N St SE, Washigton, DC"
92,31211,Kennedy Center,Kennedy Center,Kennedy Center,"Kennedy Center, Washigton, DC"
93,31601,19th & East Capitol St SE,19th and East Capitol St SE,19th and East Capitol St SE,"19th and East Capitol St SE, Washigton, DC"
94,31617,Bladensburg Rd & Benning Rd NE,Bladensburg Rd and Benning Rd NE,Bladensburg Rd and Benning Rd NE,"Bladensburg Rd and Benning Rd NE, Washigton, DC"
95,31805,Pennsylvania & Minnesota Ave SE,Pennsylvania and Minnesota Ave SE,Pennsylvania and Minnesota Ave SE,"Pennsylvania and Minnesota Ave SE, Washigton, DC"
96,31501,12th & Newton St NE,12th and Newton St NE,12th and Newton St NE,"12th and Newton St NE, Washigton, DC"
97,31704,Nannie Helen Burroughs & Minnesota Ave NE,Nannie Helen Burroughs and Minnesota Ave NE,Nannie Helen Burroughs and Minnesota Ave NE,"Nannie Helen Burroughs and Minnesota Ave NE, Washigton, DC"
98,31804,Anacostia Library,Anacostia Library,Anacostia Library,"Anacostia Library, Washigton, DC"
99,31703,Minnesota Ave Metro/DOES,Minnesota Ave Metro/DOES,Minnesota Ave MetroandDOES,"Minnesota Ave MetroandDOES, Washigton, DC"
100,31802,Good Hope Rd & MLK Ave SE,Good Hope Rd and MLK Ave SE,Good Hope Rd and MLK Ave SE,"Good Hope Rd and MLK Ave SE, Washigton, DC"
101,31801,Anacostia Metro,Anacostia Metro,Anacostia Metro,"Anacostia Metro, Washigton, DC"
102,31705,Benning Branch Library,Benning Branch Library,Benning Branch Library,"Benning Branch Library, Washigton, DC"
103,31266,11th & M St NW,11th and M St NW,11th and M St NW,"11th and M St NW, Washigton, DC"
104,31000,Eads St & 15th St S,Eads St and 15th St S,Eads St and 15th St S,"Eads St and 15th St S, Washigton, DC"
105,31702,Randle Circle & Minnesota Ave SE,Randle Circle and Minnesota Ave SE,Randle Circle and Minnesota Ave SE,"Randle Circle and Minnesota Ave SE, Washigton, DC"
106,31052,Potomac Ave & 35th St S,Potomac Ave and 35th St S,Potomac Ave and 35th St S,"Potomac Ave and 35th St S, Washigton, DC"
107,31262,11th & F St NW,11th and F St NW,11th and F St NW,"11th and F St NW, Washigton, DC"
108,31014,Lynn & 19th St North,Lynn and 19th St North,Lynn and 19th St North,"Lynn and 19th St North, Washigton, DC"
109,31016,Clarendon Blvd & Pierce St,Clarendon Blvd and Pierce St,Clarendon Blvd and Pierce St,"Clarendon Blvd and Pierce St, Washigton, DC"
110,31018,N Rhodes & 16th St N,N Rhodes and 16th St N,N Rhodes and 16th St N,"N Rhodes and 16th St N, Washigton, DC"
111,31015,Rosslyn Metro / Wilson Blvd & Ft Myer Dr,Rosslyn Metro / Wilson Blvd and Ft Myer Dr,Rosslyn Metro and Wilson Blvd and Ft Myer Dr,"Rosslyn Metro and Wilson Blvd and Ft Myer Dr, Washigton, DC"
112,31231,14th & D St NW / Ronald Reagan Building,14th and D St NW / Ronald Reagan Building,14th and D St NW and Ronald Reagan Building,"14th and D St NW and Ronald Reagan Building, Washigton, DC"
113,31233,17th & K St NW / Farragut Square,17th and K St NW / Farragut Square,17th and K St NW and Farragut Square,"17th and K St NW and Farragut Square, Washigton, DC"
114,31232,7th & F St NW / National Portrait Gallery,7th and F St NW / National Portrait Gallery,7th and F St NW and National Portrait Gallery,"7th and F St NW and National Portrait Gallery, Washigton, DC"
115,31230,Metro Center / 12th & G St NW,Metro Center / 12th and G St NW,Metro Center and 12th and G St NW,"Metro Center and 12th and G St NW, Washigton, DC"
116,31621,4th & D St NW / Judiciary Square,4th and D St NW / Judiciary Square,4th and D St NW and Judiciary Square,"4th and D St NW and Judiciary Square, Washigton, DC"
117,31701,Branch & Pennsylvania Ave SE,Branch and Pennsylvania Ave SE,Branch and Pennsylvania Ave SE,"Branch and Pennsylvania Ave SE, Washigton, DC"
118,31706,Fairfax Village,Fairfax Village,Fairfax Village,"Fairfax Village, Washigton, DC"
119,31261,21st St & Constitution Ave NW,21st St and Constitution Ave NW,21st St and Constitution Ave NW,"21st St and Constitution Ave NW, Washigton, DC"
120,31017,Wilson Blvd & N Uhle St,Wilson Blvd and N Uhle St,Wilson Blvd and N Uhle St,"Wilson Blvd and N Uhle St, Washigton, DC"
121,31019,Wilson Blvd & N Edgewood St,Wilson Blvd and N Edgewood St,Wilson Blvd and N Edgewood St,"Wilson Blvd and N Edgewood St, Washigton, DC"
122,31113,Columbia Rd & Belmont St NW,Columbia Rd and Belmont St NW,Columbia Rd and Belmont St NW,"Columbia Rd and Belmont St NW, Washigton, DC"
123,31239,Rhode Island & Connecticut Ave NW,Rhode Island and Connecticut Ave NW,Rhode Island and Connecticut Ave NW,"Rhode Island and Connecticut Ave NW, Washigton, DC"
124,31241,Thomas Circle,Thomas Circle,Thomas Circle,"Thomas Circle, Washigton, DC"
125,31022,Clarendon Metro / Wilson Blvd & N Highland St,Clarendon Metro / Wilson Blvd and N Highland St,Clarendon Metro and Wilson Blvd and N Highland St,"Clarendon Metro and Wilson Blvd and N Highland St, Washigton, DC"
126,31021,Clarendon Blvd & N Fillmore St,Clarendon Blvd and N Fillmore St,Clarendon Blvd and N Fillmore St,"Clarendon Blvd and N Fillmore St, Washigton, DC"
127,31242,18th St & Pennsylvania Ave NW,18th St and Pennsylvania Ave NW,18th St and Pennsylvania Ave NW,"18th St and Pennsylvania Ave NW, Washigton, DC"
128,31245,7th & R St NW / Shaw Library,7th and R St NW / Shaw Library,7th and R St NW and Shaw Library,"7th and R St NW and Shaw Library, Washigton, DC"
129,31625,3rd & G St SE,3rd and G St SE,3rd and G St SE,"3rd and G St SE, Washigton, DC"
130,31020,Wilson Blvd & Franklin Rd,Wilson Blvd and Franklin Rd,Wilson Blvd and Franklin Rd,"Wilson Blvd and Franklin Rd, Washigton, DC"
131,31244,4th & E St SW,4th and E St SW,4th and E St SW,"4th and E St SW, Washigton, DC"
132,31506,1st & Rhode Island Ave NW,1st and Rhode Island Ave NW,1st and Rhode Island Ave NW,"1st and Rhode Island Ave NW, Washigton, DC"
133,31404,9th & Upshur St NW,9th and Upshur St NW,9th and Upshur St NW,"9th and Upshur St NW, Washigton, DC"
134,31115,Columbia Rd & Georgia Ave NW,Columbia Rd and Georgia Ave NW,Columbia Rd and Georgia Ave NW,"Columbia Rd and Georgia Ave NW, Washigton, DC"
135,31615,6th & H St NE,6th and H St NE,6th and H St NE,"6th and H St NE, Washigton, DC"
136,31614,11th & H St NE,11th and H St NE,11th and H St NE,"11th and H St NE, Washigton, DC"
137,31116,California St & Florida Ave NW,California St and Florida Ave NW,California St and Florida Ave NW,"California St and Florida Ave NW, Washigton, DC"
138,31246,M St & Pennsylvania Ave NW,M St and Pennsylvania Ave NW,M St and Pennsylvania Ave NW,"M St and Pennsylvania Ave NW, Washigton, DC"
139,31307,3000 Connecticut Ave NW / National Zoo,3000 Connecticut Ave NW / National Zoo,3000 Connecticut Ave NW and National Zoo,"3000 Connecticut Ave NW and National Zoo, Washigton, DC"
140,31707,Benning Rd & East Capitol St NE / Benning Rd Metro,Benning Rd and East Capitol St NE / Benning Rd Metro,Benning Rd and East Capitol St NE and Benning Rd Metro,"Benning Rd and East Capitol St NE and Benning Rd Metro, Washigton, DC"
141,31708,Anacostia Ave & Benning Rd NE / River Terrace,Anacostia Ave and Benning Rd NE / River Terrace,Anacostia Ave and Benning Rd NE and River Terrace,"Anacostia Ave and Benning Rd NE and River Terrace , Washigton, DC"
142,31626,15th St & Massachusetts Ave SE,15th St and Massachusetts Ave SE,15th St and Massachusetts Ave SE,"15th St and Massachusetts Ave SE, Washigton, DC"
143,31806,Congress Heights Metro,Congress Heights Metro,Congress Heights Metro,"Congress Heights Metro, Washigton, DC"

In [69]:
#Delete no used columns
del StaLoc_df['Start station']
del StaLoc_df['Address']
del StaLoc_df['Add']

In [70]:
StaLoc_df

,Start station number,Location
0,31620,"5th and F St NW, Washigton, DC"
1,31105,"14th and Harvard St NW, Washigton, DC"
2,31400,"Georgia and New Hampshire Ave NW, Washigton, DC"
3,31111,"10th and U St NW, Washigton, DC"
4,31104,"Adams Mill and Columbia Rd NW, Washigton, DC"
5,31605,"3rd and D St SE, Washigton, DC"
6,31203,"14th and Rhode Island Ave NW, Washigton, DC"
7,31201,"15th and P St NW, Washigton, DC"
8,31300,"Van Ness Metro and UDC, Washigton, DC"
9,31007,"Crystal City Metro and 18th and Bell St, Washigton, DC"
10,31202,"14th and R St NW, Washigton, DC"
11,31212,"21st and M St NW, Washigton, DC"
12,31613,"Eastern Market Metro and Pennsylvania Ave and 7th St SE, Washigton, DC"
13,31103,"16th and Harvard St NW, Washigton, DC"
14,31109,"7th and T St NW, Washigton, DC"
15,31302,"Wisconsin Ave and Newark St NW, Washigton, DC"
16,31229,"New Hampshire Ave and T St NW, Washigton, DC"
17,31603,"1st and M St NE, Washigton, DC"
18,31305,"Connecticut Ave and Newark St NW and Cleveland Park, Washigton, DC"
19,31600,"5th and K St NW, Washigton, DC"
20,31101,"14th and V St NW, Washigton, DC"
21,31208,"M St and New Jersey Ave SE, Washigton, DC"
22,31503,"Florida Ave and R St NW, Washigton, DC"
23,31213,"17th and K St NW, Washigton, DC"
24,31611,"13th and H St NE, Washigton, DC"
25,31107,"Lamont and Mt Pleasant NW, Washigton, DC"
26,31221,"18th and M St NW, Washigton, DC"
27,31001,"18th and Eads St., Washigton, DC"
28,31224,"19th and L St NW, Washigton, DC"
29,31602,"Park Rd and Holmead Pl NW, Washigton, DC"
30,31100,"19th St and Pennsylvania Ave NW, Washigton, DC"
31,31205,"21st and I St NW, Washigton, DC"
32,31402,"14th St Heights and 14th and Crittenden St NW, Washigton, DC"
33,31606,"Potomac and Pennsylvania Ave SE, Washigton, DC"
34,31623,"Columbus Circle and Union Station, Washigton, DC"
35,31200,"Massachusetts Ave and Dupont Circle NW, Washigton, DC"
36,31011,"23rd and Crystal Dr, Washigton, DC"
37,31110,"20th St and Florida Ave NW, Washigton, DC"
38,31112,"Harvard St and Adams Mill Rd NW, Washigton, DC"
39,31214,"17th and Corcoran St NW, Washigton, DC"
40,31102,"11th and Kenyon St NW, Washigton, DC"
41,31619,"Lincoln Park and 13th and East Capitol St NE , Washigton, DC"
42,31218,"L'Enfant Plaza and 7th and C St SW, Washigton, DC"
43,31108,"4th and M St SW, Washigton, DC"
44,31622,"13th and D St NE, Washigton, DC"
45,31228,"8th and H St NW, Washigton, DC"
46,31004,"Aurora Hills Community Ctrand18th and Hayes St, Washigton, DC"
47,31204,"20th and E St NW, Washigton, DC"
48,31006,"S Joyce and Army Navy Dr, Washigton, DC"
49,31223,"Convention Center and 7th and M St NW, Washigton, DC"
50,31227,"13th St and New York Ave NW, Washigton, DC"
51,31304,"36th and Calvert St NW and Glover Park, Washigton, DC"
52,31401,"14th St and Spring Rd NW, Washigton, DC"
53,31616,"3rd and H St NE, Washigton, DC"
54,31237,"25th St and Pennsylvania Ave NW, Washigton, DC"
55,31607,"14th and D St SE, Washigton, DC"
56,31502,"John McCormack Dr and Michigan Ave NE, Washigton, DC"
57,31207,"Georgia Ave and Fairmont St NW, Washigton, DC"
58,31002,"20th and Crystal Dr, Washigton, DC"
59,31010,"S Glebe and Potomac Ave, Washigton, DC"
60,31219,"10th St and Constitution Ave NW, Washigton, DC"
61,31217,"USDA and 12th and Independence Ave SW, Washigton, DC"
62,31009,"27th and Crystal Dr, Washigton, DC"
63,31301,"Ward Circle and American University, Washigton, DC"
64,31610,"Eastern Market and 7th and North Carolina Ave SE, Washigton, DC"
65,31609,"Maine Ave and 7th St SW, Washigton, DC"
66,31215,"Georgetown Harbor and 30th St NW, Washigton, DC"
67,31225,"C and O Canal and Wisconsin Ave NW, Washigton, DC"
68,31238,"14th and G St NW, Washigton, DC"
69,31236,"37th and O St NW and Georgetown University, Washigton, DC"
70,31005,"Pentagon City Metro and 12th and S Hayes St, Washigton, DC"
71,31618,"4th and East Capitol St NE, Washigton, DC"
72,31604,"3rd and H St NW, Washigton, DC"
73,31624,"North Capitol St and F St NW, Washigton, DC"
74,31106,"Calvert and Biltmore St NW, Washigton, DC"
75,31700,"Good Hope and Naylor Rd SE, Washigton, DC"
76,31206,"19th and E Street NW, Washigton, DC"
77,31235,"19th St and Constitution Ave NW, Washigton, DC"
78,31222,"New York Ave and 15th St NW, Washigton, DC"
79,31220,"US Dept of State and Virginia Ave and 21st St NW, Washigton, DC"
80,31008,"12th and Army Navy Dr, Washigton, DC"
81,31226,"34th St and Wisconsin Ave NW, Washigton, DC"
82,31500,"4th and W St NE, Washigton, DC"
83,31012,"26th and S Clark St, Washigton, DC"
84,31608,"8th and Eye St SE and Barracks Row, Washigton, DC"
85,31216,"14th St and New York Ave NW, Washigton, DC"
86,31303,"Tenleytown and Wisconsin Ave and Albemarle St NW, Washigton, DC"
87,31504,"10th and Monroe St NE, Washigton, DC"
88,31003,"15th and Crystal Dr, Washigton, DC"
89,31013,"Eads and 22nd St S, Washigton, DC"
90,31505,"Eckington Pl and Q St NE, Washigton, DC"
91,31209,"1st and N St SE, Washigton, DC"
92,31211,"Kennedy Center, Washigton, DC"
93,31601,"19th and East Capitol St SE, Washigton, DC"
94,31617,"Bladensburg Rd and Benning Rd NE, Washigton, DC"
95,31805,"Pennsylvania and Minnesota Ave SE, Washigton, DC"
96,31501,"12th and Newton St NE, Washigton, DC"
97,31704,"Nannie Helen Burroughs and Minnesota Ave NE, Washigton, DC"
98,31804,"Anacostia Library, Washigton, DC"
99,31703,"Minnesota Ave MetroandDOES, Washigton, DC"
100,31802,"Good Hope Rd and MLK Ave SE, Washigton, DC"
101,31801,"Anacostia Metro, Washigton, DC"
102,31705,"Benning Branch Library, Washigton, DC"
103,31266,"11th and M St NW, Washigton, DC"
104,31000,"Eads St and 15th St S, Washigton, DC"
105,31702,"Randle Circle and Minnesota Ave SE, Washigton, DC"
106,31052,"Potomac Ave and 35th St S, Washigton, DC"
107,31262,"11th and F St NW, Washigton, DC"
108,31014,"Lynn and 19th St North, Washigton, DC"
109,31016,"Clarendon Blvd and Pierce St, Washigton, DC"
110,31018,"N Rhodes and 16th St N, Washigton, DC"
111,31015,"Rosslyn Metro and Wilson Blvd and Ft Myer Dr, Washigton, DC"
112,31231,"14th and D St NW and Ronald Reagan Building, Washigton, DC"
113,31233,"17th and K St NW and Farragut Square, Washigton, DC"
114,31232,"7th and F St NW and National Portrait Gallery, Washigton, DC"
115,31230,"Metro Center and 12th and G St NW, Washigton, DC"
116,31621,"4th and D St NW and Judiciary Square, Washigton, DC"
117,31701,"Branch and Pennsylvania Ave SE, Washigton, DC"
118,31706,"Fairfax Village, Washigton, DC"
119,31261,"21st St and Constitution Ave NW, Washigton, DC"
120,31017,"Wilson Blvd and N Uhle St, Washigton, DC"
121,31019,"Wilson Blvd and N Edgewood St, Washigton, DC"
122,31113,"Columbia Rd and Belmont St NW, Washigton, DC"
123,31239,"Rhode Island and Connecticut Ave NW, Washigton, DC"
124,31241,"Thomas Circle, Washigton, DC"
125,31022,"Clarendon Metro and Wilson Blvd and N Highland St, Washigton, DC"
126,31021,"Clarendon Blvd and N Fillmore St, Washigton, DC"
127,31242,"18th St and Pennsylvania Ave NW, Washigton, DC"
128,31245,"7th and R St NW and Shaw Library, Washigton, DC"
129,31625,"3rd and G St SE, Washigton, DC"
130,31020,"Wilson Blvd and Franklin Rd, Washigton, DC"
131,31244,"4th and E St SW, Washigton, DC"
132,31506,"1st and Rhode Island Ave NW, Washigton, DC"
133,31404,"9th and Upshur St NW, Washigton, DC"
134,31115,"Columbia Rd and Georgia Ave NW, Washigton, DC"
135,31615,"6th and H St NE, Washigton, DC"
136,31614,"11th and H St NE, Washigton, DC"
137,31116,"California St and Florida Ave NW, Washigton, DC"
138,31246,"M St and Pennsylvania Ave NW, Washigton, DC"
139,31307,"3000 Connecticut Ave NW and National Zoo, Washigton, DC"
140,31707,"Benning Rd and East Capitol St NE and Benning Rd Metro, Washigton, DC"
141,31708,"Anacostia Ave and Benning Rd NE and River Terrace , Washigton, DC"
142,31626,"15th St and Massachusetts Ave SE, Washigton, DC"
143,31806,"Congress Heights Metro, Washigton, DC"

In [71]:
#create list of address
StaLoc_list = StaLoc_df["Location"].tolist()
StaLoc_list

['5th and F St NW, Washigton, DC',
 '14th and Harvard St NW, Washigton, DC',
 'Georgia and New Hampshire Ave NW, Washigton, DC',
 '10th and U St NW, Washigton, DC',
 'Adams Mill and Columbia Rd NW, Washigton, DC',
 '3rd and D St SE, Washigton, DC',
 '14th and Rhode Island Ave NW, Washigton, DC',
 '15th and P St NW, Washigton, DC',
 'Van Ness Metro and UDC, Washigton, DC',
 'Crystal City Metro and 18th and Bell St, Washigton, DC',
 '14th and R St NW, Washigton, DC',
 '21st and M St NW, Washigton, DC',
 'Eastern Market Metro and Pennsylvania Ave and 7th St SE, Washigton, DC',
 '16th and Harvard St NW, Washigton, DC',
 '7th and T St NW, Washigton, DC',
 'Wisconsin Ave and Newark St NW, Washigton, DC',
 'New Hampshire Ave and T St NW, Washigton, DC',
 '1st and M St NE, Washigton, DC',
 'Connecticut Ave and Newark St NW and Cleveland Park, Washigton, DC',
 '5th and K St NW, Washigton, DC',
 '14th and V St NW, Washigton, DC',
 'M St and New Jersey Ave SE, Washigton, DC',
 'Florida Ave and R St NW, Washigton, DC',
 '17th and K St NW, Washigton, DC',
 '13th and H St NE, Washigton, DC',
 'Lamont and Mt Pleasant NW, Washigton, DC',
 '18th and M St NW, Washigton, DC',
 '18th and Eads St., Washigton, DC',
 '19th and L St NW, Washigton, DC',
 'Park Rd and Holmead Pl NW, Washigton, DC',
 '19th St and Pennsylvania Ave NW, Washigton, DC',
 '21st and I St NW, Washigton, DC',
 '14th St Heights and 14th and Crittenden St NW, Washigton, DC',
 'Potomac and Pennsylvania Ave SE, Washigton, DC',
 'Columbus Circle and Union Station, Washigton, DC',
 'Massachusetts Ave and Dupont Circle NW, Washigton, DC',
 '23rd and Crystal Dr, Washigton, DC',
 '20th St and Florida Ave NW, Washigton, DC',
 'Harvard St and Adams Mill Rd NW, Washigton, DC',
 '17th and Corcoran St NW, Washigton, DC',
 '11th and Kenyon St NW, Washigton, DC',
 'Lincoln Park and 13th and East Capitol St NE , Washigton, DC',
 "L'Enfant Plaza and 7th and C St SW, Washigton, DC",
 '4th and M St SW, Washigton, DC',
 '13th and D St NE, Washigton, DC',
 '8th and H St NW, Washigton, DC',
 'Aurora Hills Community Ctrand18th and Hayes St, Washigton, DC',
 '20th and E St NW, Washigton, DC',
 'S Joyce and Army Navy Dr, Washigton, DC',
 'Convention Center and 7th and M St NW, Washigton, DC',
 '13th St and New York Ave NW, Washigton, DC',
 '36th and Calvert St NW and Glover Park, Washigton, DC',
 '14th St and Spring Rd NW, Washigton, DC',
 '3rd and H St NE, Washigton, DC',
 '25th St and Pennsylvania Ave NW, Washigton, DC',
 '14th and D St SE, Washigton, DC',
 'John McCormack Dr and Michigan Ave NE, Washigton, DC',
 'Georgia Ave and Fairmont St NW, Washigton, DC',
 '20th and Crystal Dr, Washigton, DC',
 'S Glebe and Potomac Ave, Washigton, DC',
 '10th St and Constitution Ave NW, Washigton, DC',
 'USDA and 12th and Independence Ave SW, Washigton, DC',
 '27th and Crystal Dr, Washigton, DC',
 'Ward Circle and American University, Washigton, DC',
 'Eastern Market and 7th and North Carolina Ave SE, Washigton, DC',
 'Maine Ave and 7th St SW, Washigton, DC',
 'Georgetown Harbor and 30th St NW, Washigton, DC',
 'C and O Canal and Wisconsin Ave NW, Washigton, DC',
 '14th and G St NW, Washigton, DC',
 '37th and O St NW and Georgetown University, Washigton, DC',
 'Pentagon City Metro and 12th and S Hayes St, Washigton, DC',
 '4th and East Capitol St NE, Washigton, DC',
 '3rd and H St NW, Washigton, DC',
 'North Capitol St and F St NW, Washigton, DC',
 'Calvert and Biltmore St NW, Washigton, DC',
 'Good Hope and Naylor Rd SE, Washigton, DC',
 '19th and E Street NW, Washigton, DC',
 '19th St and Constitution Ave NW, Washigton, DC',
 'New York Ave and 15th St NW, Washigton, DC',
 'US Dept of State and Virginia Ave and 21st St NW, Washigton, DC',
 '12th and Army Navy Dr, Washigton, DC',
 '34th St and Wisconsin Ave NW, Washigton, DC',
 '4th and W St NE, Washigton, DC',
 '26th and S Clark St, Washigton, DC',
 '8th and Eye St SE and Barracks Row, Washigton, DC',
 '14th St and New York Ave NW, Washigton, DC',
 'Tenleytown and Wisconsin Ave and Albemarle St NW, Washigton, DC',
 '10th and Monroe St NE, Washigton, DC',
 '15th and Crystal Dr, Washigton, DC',
 'Eads and 22nd St S, Washigton, DC',
 'Eckington Pl and Q St NE, Washigton, DC',
 '1st and N St  SE, Washigton, DC',
 'Kennedy Center, Washigton, DC',
 '19th and East Capitol St SE, Washigton, DC',
 'Bladensburg Rd and Benning Rd NE, Washigton, DC',
 'Pennsylvania and Minnesota Ave SE, Washigton, DC',
 '12th and Newton St NE, Washigton, DC',
 'Nannie Helen Burroughs and Minnesota Ave NE, Washigton, DC',
 'Anacostia Library, Washigton, DC',
 'Minnesota Ave MetroandDOES, Washigton, DC',
 'Good Hope Rd and MLK Ave SE, Washigton, DC',
 'Anacostia Metro, Washigton, DC',
 'Benning Branch Library, Washigton, DC',
 '11th and M St NW, Washigton, DC',
 'Eads St and 15th St S, Washigton, DC',
 'Randle Circle and Minnesota Ave SE, Washigton, DC',
 'Potomac Ave and 35th St S, Washigton, DC',
 '11th and F St NW, Washigton, DC',
 'Lynn and 19th St North, Washigton, DC',
 'Clarendon Blvd and Pierce St, Washigton, DC',
 'N Rhodes and 16th St N, Washigton, DC',
 'Rosslyn Metro and Wilson Blvd and Ft Myer Dr, Washigton, DC',
 '14th and D St NW and Ronald Reagan Building, Washigton, DC',
 '17th and K St NW and Farragut Square, Washigton, DC',
 '7th and F St NW and National Portrait Gallery, Washigton, DC',
 'Metro Center and 12th and G St NW, Washigton, DC',
 '4th and D St NW and Judiciary Square, Washigton, DC',
 'Branch and Pennsylvania Ave SE, Washigton, DC',
 'Fairfax Village, Washigton, DC',
 '21st St and Constitution Ave NW, Washigton, DC',
 'Wilson Blvd and N Uhle St, Washigton, DC',
 'Wilson Blvd and N Edgewood St, Washigton, DC',
 'Columbia Rd and Belmont St NW, Washigton, DC',
 'Rhode Island and Connecticut Ave NW, Washigton, DC',
 'Thomas Circle, Washigton, DC',
 'Clarendon Metro and Wilson Blvd and N Highland St, Washigton, DC',
 'Clarendon Blvd and N Fillmore St, Washigton, DC',
 '18th St and Pennsylvania Ave NW, Washigton, DC',
 '7th and R St NW and Shaw Library, Washigton, DC',
 '3rd and G St SE, Washigton, DC',
 'Wilson Blvd and Franklin Rd, Washigton, DC',
 '4th and E St SW, Washigton, DC',
 '1st and Rhode Island Ave NW, Washigton, DC',
 '9th and Upshur St NW, Washigton, DC',
 'Columbia Rd and Georgia Ave NW, Washigton, DC',
 '6th and H St NE, Washigton, DC',
 '11th and H St NE, Washigton, DC',
 'California St and Florida Ave NW, Washigton, DC',
 'M St and Pennsylvania Ave NW, Washigton, DC',
 '3000 Connecticut Ave NW and National Zoo, Washigton, DC',
 'Benning Rd and East Capitol St NE and Benning Rd Metro, Washigton, DC',
 'Anacostia Ave and Benning Rd NE and River Terrace , Washigton, DC',
 '15th St and Massachusetts Ave SE, Washigton, DC',
 'Congress Heights Metro, Washigton, DC']

In [77]:
#Do API to google maps and store lat and lng for each station
lat = []
lng = []

for add in StaLoc_list:
    # Target add
    target= add

    # Build the endpoint URL
    target_url = ('https://maps.googleapis.com/maps/api/geocode/json?'
    'address={0}&key={1}').format(target, gkey)
    geo_data = requests.get(target_url).json()
    latitud = geo_data["results"][0]["geometry"]["location"]["lat"]
    longitud = geo_data["results"][0]["geometry"]["location"]["lng"]
    lat.append(latitud)
    lng.append(longitud)
    print('''
    City: {0}
    Latitude: {1}
    Longitude: {2}
    '''.format(target, latitud, longitud))

    City: 5th and F St NW, Washigton, DC
    Latitude: 38.897337
    Longitude: -77.01892900000001


    City: 14th and Harvard St NW, Washigton, DC
    Latitude: 38.9265708
    Longitude: -77.0324139


    City: Georgia and New Hampshire Ave NW, Washigton, DC
    Latitude: 39.2214999
    Longitude: -77.0598581


    City: 10th and U St NW, Washigton, DC
    Latitude: 38.917007
    Longitude: -77.02598569999999


    City: Adams Mill and Columbia Rd NW, Washigton, DC
    Latitude: 38.9226795
    Longitude: -77.0426674


    City: 3rd and D St SE, Washigton, DC
    Latitude: 38.887124
    Longitude: -77.00169199999999


    City: 14th and Rhode Island Ave NW, Washigton, DC
    Latitude: 38.9088311
    Longitude: -77.03195749999999


    City: 15th and P St NW, Washigton, DC
    Latitude: 38.9096506
    Longitude: -77.0345573


    City: Van Ness Metro and UDC, Washigton, DC
    Latitude: 38.9445504
    Longitude: -77.0637321


    City: Crystal City Metro and 18th and Bell St, Washigton, DC
    Latitude: 38.8580227
    Longitude: -77.05141789999999


    City: 14th and R St NW, Washigton, DC
    Latitude: 38.9126061
    Longitude: -77.0319494


    City: 21st and M St NW, Washigton, DC
    Latitude: 38.9056284
    Longitude: -77.04664679999999


    City: Eastern Market Metro and Pennsylvania Ave and 7th St SE, Washigton, DC
    Latitude: 38.8842471
    Longitude: -76.995792


    City: 16th and Harvard St NW, Washigton, DC
    Latitude: 38.9262792
    Longitude: -77.0364613


    City: 7th and T St NW, Washigton, DC
    Latitude: 38.915572
    Longitude: -77.021919


    City: Wisconsin Ave and Newark St NW, Washigton, DC
    Latitude: 38.9346366
    Longitude: -77.0725243


    City: New Hampshire Ave and T St NW, Washigton, DC
    Latitude: 38.91558029999999
    Longitude: -77.0378968


    City: 1st and M St NE, Washigton, DC
    Latitude: 38.9054218
    Longitude: -77.0063357


    City: Connecticut Ave and Newark St NW and Cleveland Park, Washigton, DC
    Latitude: 38.9340854
    Longitude: -77.0576414


    City: 5th and K St NW, Washigton, DC
    Latitude: 38.9025277
    Longitude: -77.0189305


    City: 14th and V St NW, Washigton, DC
    Latitude: 38.9181132
    Longitude: -77.0319544


    City: M St and New Jersey Ave SE, Washigton, DC
    Latitude: 38.8764395
    Longitude: -77.00414479999999


    City: Florida Ave and R St NW, Washigton, DC
    Latitude: 38.9126015
    Longitude: -77.013272


    City: 17th and K St NW, Washigton, DC
    Latitude: 38.9024024
    Longitude: -77.0395084


    City: 13th and H St NE, Washigton, DC
    Latitude: 38.9002048
    Longitude: -76.9883091


    City: Lamont and Mt Pleasant NW, Washigton, DC
    Latitude: 38.9311391
    Longitude: -77.0382492


    City: 18th and M St NW, Washigton, DC
    Latitude: 38.9056568
    Longitude: -77.0416876


    City: 18th and Eads St., Washigton, DC
    Latitude: 38.857809
    Longitude: -77.052992


    City: 19th and L St NW, Washigton, DC
    Latitude: 38.9037466
    Longitude: -77.04345769999999


    City: Park Rd and Holmead Pl NW, Washigton, DC
    Latitude: 38.9309272
    Longitude: -77.030867


    City: 19th St and Pennsylvania Ave NW, Washigton, DC
    Latitude: 38.9002149
    Longitude: -77.043466


    City: 21st and I St NW, Washigton, DC
    Latitude: 38.9007023
    Longitude: -77.0466551


    City: 14th St Heights and 14th and Crittenden St NW, Washigton, DC
    Latitude: 38.9471917
    Longitude: -77.03272


    City: Potomac and Pennsylvania Ave SE, Washigton, DC
    Latitude: 38.8805697
    Longitude: -76.9858173


    City: Columbus Circle and Union Station, Washigton, DC
    Latitude: 38.8965587
    Longitude: -77.0052552


    City: Massachusetts Ave and Dupont Circle NW, Washigton, DC
    Latitude: 38.909303
    Longitude: -77.0427814


    City: 23rd and Crystal Dr, Washigton, DC
    Latitude: 38.8531752
    Longitude: -77.04955880000001


    City: 20th St and Florida Ave NW, Washigton, DC
    Latitude: 38.9151073
    Longitude: -77.044913


    City: Harvard St and Adams Mill Rd NW, Washigton, DC
    Latitude: 38.9280355
    Longitude: -77.0434081


    City: 17th and Corcoran St NW, Washigton, DC
    Latitude: 38.9118701
    Longitude: -77.0384855


    City: 11th and Kenyon St NW, Washigton, DC
    Latitude: 38.9290962
    Longitude: -77.0323104


    City: Lincoln Park and 13th and East Capitol St NE , Washigton, DC
    Latitude: 38.8951405
    Longitude: -76.988019


    City: L'Enfant Plaza and 7th and C St SW, Washigton, DC
    Latitude: 38.8838513
    Longitude: -77.0251943


    City: 4th and M St SW, Washigton, DC
    Latitude: 38.87651779999999
    Longitude: -77.0176403


    City: 13th and D St NE, Washigton, DC
    Latitude: 38.894777
    Longitude: -76.9883104


    City: 8th and H St NW, Washigton, DC
    Latitude: 38.899814
    Longitude: -77.022948


    City: Aurora Hills Community Ctrand18th and Hayes St, Washigton, DC
    Latitude: 38.8515013
    Longitude: -77.064144


    City: 20th and E St NW, Washigton, DC
    Latitude: 38.8959408
    Longitude: -77.04492239999999


    City: S Joyce and Army Navy Dr, Washigton, DC
    Latitude: 38.8658452
    Longitude: -77.0628572


    City: Convention Center and 7th and M St NW, Washigton, DC
    Latitude: 38.9053157
    Longitude: -77.0222677


    City: 13th St and New York Ave NW, Washigton, DC
    Latitude: 38.895126
    Longitude: -77.029066


    City: 36th and Calvert St NW and Glover Park, Washigton, DC
    Latitude: 38.9223508
    Longitude: -77.0799876


    City: 14th St and Spring Rd NW, Washigton, DC
    Latitude: 38.9370752
    Longitude: -77.0327226


    City: 3rd and H St NE, Washigton, DC
    Latitude: 38.9003026
    Longitude: -77.0016867


    City: 25th St and Pennsylvania Ave NW, Washigton, DC
    Latitude: 38.9036794
    Longitude: -77.0532984


    City: 14th and D St SE, Washigton, DC
    Latitude: 38.8841038
    Longitude: -76.9855178


    City: John McCormack Dr and Michigan Ave NE, Washigton, DC
    Latitude: 38.9335106
    Longitude: -76.99533370000002


    City: Georgia Ave and Fairmont St NW, Washigton, DC
    Latitude: 38.924806
    Longitude: -77.02261200000001


    City: 20th and Crystal Dr, Washigton, DC
    Latitude: 38.8561135
    Longitude: -77.04932090000001


    City: S Glebe and Potomac Ave, Washigton, DC
    Latitude: 38.8428468
    Longitude: -77.05014419999999


    City: 10th St and Constitution Ave NW, Washigton, DC
    Latitude: 38.8921062
    Longitude: -77.02590359999999


    City: USDA and 12th and Independence Ave SW, Washigton, DC
    Latitude: 38.8867712
    Longitude: -77.029926


    City: 27th and Crystal Dr, Washigton, DC
    Latitude: 38.84912
    Longitude: -77.050853


    City: Ward Circle and American University, Washigton, DC
    Latitude: 38.9374344
    Longitude: -77.0866825


    City: Eastern Market and 7th and North Carolina Ave SE, Washigton, DC
    Latitude: 38.8864481
    Longitude: -76.996479


    City: Maine Ave and 7th St SW, Washigton, DC
    Latitude: 38.8786499
    Longitude: -77.022833


    City: Georgetown Harbor and 30th St NW, Washigton, DC
    Latitude: 38.901877
    Longitude: -77.0601097


    City: C and O Canal and Wisconsin Ave NW, Washigton, DC
    Latitude: 38.90422239999999
    Longitude: -77.0629742


    City: 14th and G St NW, Washigton, DC
    Latitude: 38.89833
    Longitude: -77.0320047


    City: 37th and O St NW and Georgetown University, Washigton, DC
    Latitude: 38.9076089
    Longitude: -77.07225849999999


    City: Pentagon City Metro and 12th and S Hayes St, Washigton, DC
    Latitude: 38.8627084
    Longitude: -77.0598849


    City: 4th and East Capitol St NE, Washigton, DC
    Latitude: 38.8900044
    Longitude: -76.94025789999999


    City: 3rd and H St NW, Washigton, DC
    Latitude: 38.9008147
    Longitude: -77.0151363


    City: North Capitol St and F St NW, Washigton, DC
    Latitude: 38.8973304
    Longitude: -77.0091024


    City: Calvert and Biltmore St NW, Washigton, DC
    Latitude: 38.9232654
    Longitude: -77.04734429999999

    City: Good Hope and Naylor Rd SE, Washigton, DC
    Latitude: 38.8606583
    Longitude: -76.968779


    City: 19th and E Street NW, Washigton, DC
    Latitude: 38.89540849999999
    Longitude: -77.043478


    City: 19th St and Constitution Ave NW, Washigton, DC
    Latitude: 38.8921101
    Longitude: -77.0434861


    City: New York Ave and 15th St NW, Washigton, DC
    Latitude: 38.8987597
    Longitude: -77.0336773


    City: US Dept of State and Virginia Ave and 21st St NW, Washigton, DC
    Latitude: 38.8948275
    Longitude: -77.0469598


    City: 12th and Army Navy Dr, Washigton, DC
    Latitude: 38.8636627
    Longitude: -77.0526733


    City: 34th St and Wisconsin Ave NW, Washigton, DC
    Latitude: 38.915761
    Longitude: -77.06779499999999


    City: 4th and W St NE, Washigton, DC
    Latitude: 38.91902899999999
    Longitude: -77.000472


    City: 26th and S Clark St, Washigton, DC
    Latitude: 38.850831
    Longitude: -77.051769


    City: 8th and Eye St SE and Barracks Row, Washigton, DC
    Latitude: 38.880156
    Longitude: -76.995319


    City: 14th St and New York Ave NW, Washigton, DC
    Latitude: 38.8993015
    Longitude: -77.0320046


    City: Tenleytown and Wisconsin Ave and Albemarle St NW, Washigton, DC
    Latitude: 38.9479287
    Longitude: -77.0796836


    City: 10th and Monroe St NE, Washigton, DC
    Latitude: 38.93196
    Longitude: -76.99708989999999


    City: 15th and Crystal Dr, Washigton, DC
    Latitude: 38.858109
    Longitude: -77.0498333


    City: Eads and 22nd St S, Washigton, DC
    Latitude: 38.8540133
    Longitude: -77.0632037


    City: Eckington Pl and Q St NE, Washigton, DC
    Latitude: 38.9111223
    Longitude: -77.0047933


    City: 1st and N St  SE, Washigton, DC
    Latitude: 38.8746477
    Longitude: -77.0058976


    City: Kennedy Center, Washigton, DC
    Latitude: 38.8958482
    Longitude: -77.05568269999999


    City: 19th and East Capitol St SE, Washigton, DC
    Latitude: 38.8897738
    Longitude: -76.977254


    City: Bladensburg Rd and Benning Rd NE, Washigton, DC
    Latitude: 38.9000824
    Longitude: -76.9834855


    City: Pennsylvania and Minnesota Ave SE, Washigton, DC
    Latitude: 38.8735307
    Longitude: -76.97050399999999


    City: 12th and Newton St NE, Washigton, DC
    Latitude: 38.933526
    Longitude: -76.991079


    City: Nannie Helen Burroughs and Minnesota Ave NE, Washigton, DC
    Latitude: 38.9019647
    Longitude: -76.9425651


    City: Anacostia Library, Washigton, DC
    Latitude: 38.86598050000001
    Longitude: -76.9785383


    City: Minnesota Ave MetroandDOES, Washigton, DC
    Latitude: 38.89912959999999
    Longitude: -76.9467801


    City: Good Hope Rd and MLK Ave SE, Washigton, DC
    Latitude: 38.8674403
    Longitude: -76.9886086


    City: Anacostia Metro, Washigton, DC
    Latitude: 38.8622178
    Longitude: -76.9951881


    City: Benning Branch Library, Washigton, DC
    Latitude: 38.894099
    Longitude: -76.94776499999999


    City: 11th and M St NW, Washigton, DC
    Latitude: 38.905637
    Longitude: -77.027041


    City: Eads St and 15th St S, Washigton, DC
    Latitude: 38.8597959
    Longitude: -77.053541


    City: Randle Circle and Minnesota Ave SE, Washigton, DC
    Latitude: 38.8785406
    Longitude: -76.9611286


    City: Potomac Ave and 35th St S, Washigton, DC
    Latitude: 38.8442637
    Longitude: -77.05047239999999


    City: 11th and F St NW, Washigton, DC
    Latitude: 38.8973435
    Longitude: -77.02704659999999


    City: Lynn and 19th St North, Washigton, DC
    Latitude: 38.8971111
    Longitude: -77.0708362


    City: Clarendon Blvd and Pierce St, Washigton, DC
    Latitude: 38.8934465
    Longitude: -77.07658719999999


    City: N Rhodes and 16th St N, Washigton, DC
    Latitude: 38.8918617
    Longitude: -77.07925709999999


    City: Rosslyn Metro and Wilson Blvd and Ft Myer Dr, Washigton, DC
    Latitude: 38.8951832
    Longitude: -77.0724398


    City: 14th and D St NW and Ronald Reagan Building, Washigton, DC
    Latitude: 38.8939166
    Longitude: -77.0307749


    City: 17th and K St NW and Farragut Square, Washigton, DC
    Latitude: 38.901926
    Longitude: -77.0389842


    City: 7th and F St NW and National Portrait Gallery, Washigton, DC
    Latitude: 38.8978267
    Longitude: -77.02301899999999


    City: Metro Center and 12th and G St NW, Washigton, DC
    Latitude: 38.8980284
    Longitude: -77.0285694


    City: 4th and D St NW and Judiciary Square, Washigton, DC
    Latitude: 38.8950731
    Longitude: -77.0155715


    City: Branch and Pennsylvania Ave SE, Washigton, DC
    Latitude: 38.8697597
    Longitude: -76.9597275


    City: Fairfax Village, Washigton, DC
    Latitude: 38.8638871
    Longitude: -76.950623


    City: 21st St and Constitution Ave NW, Washigton, DC
    Latitude: 38.8921101
    Longitude: -77.04667789999999


    City: Wilson Blvd and N Uhle St, Washigton, DC
    Latitude: 38.8915576
    Longitude: -77.08485979999999


    City: Wilson Blvd and N Edgewood St, Washigton, DC
    Latitude: 38.88919870000001
    Longitude: -77.0917965


    City: Columbia Rd and Belmont St NW, Washigton, DC
    Latitude: 38.921039
    Longitude: -77.0437304


    City: Rhode Island and Connecticut Ave NW, Washigton, DC
    Latitude: 38.9056638
    Longitude: -77.0412097


    City: Thomas Circle, Washigton, DC
    Latitude: 38.9059397
    Longitude: -77.0317658


    City: Clarendon Metro and Wilson Blvd and N Highland St, Washigton, DC
    Latitude: 38.8871134
    Longitude: -77.0952291


    City: Clarendon Blvd and N Fillmore St, Washigton, DC
    Latitude: 38.8878759
    Longitude: -77.0931288


    City: 18th St and Pennsylvania Ave NW, Washigton, DC
    Latitude: 38.8995918
    Longitude: -77.041685


    City: 7th and R St NW and Shaw Library, Washigton, DC
    Latitude: 38.9124475
    Longitude: -77.02224670000001


    City: 3rd and G St SE, Washigton, DC
    Latitude: 38.887124
    Longitude: -77.00169199999999


    City: Wilson Blvd and Franklin Rd, Washigton, DC
    Latitude: 38.8904029
    Longitude: -77.0886921


    City: 4th and E St SW, Washigton, DC
    Latitude: 38.8832315
    Longitude: -77.01756590000001


    City: 1st and Rhode Island Ave NW, Washigton, DC
    Latitude: 38.915738
    Longitude: -77.01176099999999


    City: 9th and Upshur St NW, Washigton, DC
    Latitude: 38.9415591
    Longitude: -77.0250696


    City: Columbia Rd and Georgia Ave NW, Washigton, DC
    Latitude: 38.9281258
    Longitude: -77.023104


    City: 6th and H St NE, Washigton, DC
    Latitude: 38.9002104
    Longitude: -76.9984441


    City: 11th and H St NE, Washigton, DC
    Latitude: 38.90021
    Longitude: -76.9915366


    City: California St and Florida Ave NW, Washigton, DC
    Latitude: 38.9178137
    Longitude: -77.0403994


    City: M St and Pennsylvania Ave NW, Washigton, DC
    Latitude: 38.9052288
    Longitude: -77.05796


    City: 3000 Connecticut Ave NW and National Zoo, Washigton, DC
    Latitude: 38.9296156
    Longitude: -77.0497844


    City: Benning Rd and East Capitol St NE and Benning Rd Metro, Washigton, DC
    Latitude: 38.8903895
    Longitude: -76.9374473


    City: Anacostia Ave and Benning Rd NE and River Terrace , Washigton, DC
    Latitude: 38.8970035
    Longitude: -76.96032009999999


    City: 15th St and Massachusetts Ave SE, Washigton, DC
    Latitude: 38.9065186
    Longitude: -77.0345597


    City: Congress Heights Metro, Washigton, DC
    Latitude: 38.8453933
    Longitude: -76.9877861

In [80]:
#Add latitud column to df
StaLoc_df["Latitud"]=lat

<ipython-input-80-f6301f152c9e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  StaLoc_df["Latitud"]=lat

In [81]:
#Add longitud column to df
StaLoc_df["Longitud"]=lng

<ipython-input-81-42621b616740>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  StaLoc_df["Longitud"]=lng

In [82]:
#Display final df witn station number addres and location
StaLoc_df

,Start station number,Location,Latitud,Longitud
0,31620,"5th and F St NW, Washigton, DC",38.897337,-77.018929
1,31105,"14th and Harvard St NW, Washigton, DC",38.926571,-77.032414
2,31400,"Georgia and New Hampshire Ave NW, Washigton, DC",39.221500,-77.059858
3,31111,"10th and U St NW, Washigton, DC",38.917007,-77.025986
4,31104,"Adams Mill and Columbia Rd NW, Washigton, DC",38.922680,-77.042667
5,31605,"3rd and D St SE, Washigton, DC",38.887124,-77.001692
6,31203,"14th and Rhode Island Ave NW, Washigton, DC",38.908831,-77.031957
7,31201,"15th and P St NW, Washigton, DC",38.909651,-77.034557
8,31300,"Van Ness Metro and UDC, Washigton, DC",38.944550,-77.063732
9,31007,"Crystal City Metro and 18th and Bell St, Washigton, DC",38.858023,-77.051418
10,31202,"14th and R St NW, Washigton, DC",38.912606,-77.031949
11,31212,"21st and M St NW, Washigton, DC",38.905628,-77.046647
12,31613,"Eastern Market Metro and Pennsylvania Ave and 7th St SE, Washigton, DC",38.884247,-76.995792
13,31103,"16th and Harvard St NW, Washigton, DC",38.926279,-77.036461
14,31109,"7th and T St NW, Washigton, DC",38.915572,-77.021919
15,31302,"Wisconsin Ave and Newark St NW, Washigton, DC",38.934637,-77.072524
16,31229,"New Hampshire Ave and T St NW, Washigton, DC",38.915580,-77.037897
17,31603,"1st and M St NE, Washigton, DC",38.905422,-77.006336
18,31305,"Connecticut Ave and Newark St NW and Cleveland Park, Washigton, DC",38.934085,-77.057641
19,31600,"5th and K St NW, Washigton, DC",38.902528,-77.018930
20,31101,"14th and V St NW, Washigton, DC",38.918113,-77.031954
21,31208,"M St and New Jersey Ave SE, Washigton, DC",38.876439,-77.004145
22,31503,"Florida Ave and R St NW, Washigton, DC",38.912602,-77.013272
23,31213,"17th and K St NW, Washigton, DC",38.902402,-77.039508
24,31611,"13th and H St NE, Washigton, DC",38.900205,-76.988309
25,31107,"Lamont and Mt Pleasant NW, Washigton, DC",38.931139,-77.038249
26,31221,"18th and M St NW, Washigton, DC",38.905657,-77.041688
27,31001,"18th and Eads St., Washigton, DC",38.857809,-77.052992
28,31224,"19th and L St NW, Washigton, DC",38.903747,-77.043458
29,31602,"Park Rd and Holmead Pl NW, Washigton, DC",38.930927,-77.030867
30,31100,"19th St and Pennsylvania Ave NW, Washigton, DC",38.900215,-77.043466
31,31205,"21st and I St NW, Washigton, DC",38.900702,-77.046655
32,31402,"14th St Heights and 14th and Crittenden St NW, Washigton, DC",38.947192,-77.032720
33,31606,"Potomac and Pennsylvania Ave SE, Washigton, DC",38.880570,-76.985817
34,31623,"Columbus Circle and Union Station, Washigton, DC",38.896559,-77.005255
35,31200,"Massachusetts Ave and Dupont Circle NW, Washigton, DC",38.909303,-77.042781
36,31011,"23rd and Crystal Dr, Washigton, DC",38.853175,-77.049559
37,31110,"20th St and Florida Ave NW, Washigton, DC",38.915107,-77.044913
38,31112,"Harvard St and Adams Mill Rd NW, Washigton, DC",38.928036,-77.043408
39,31214,"17th and Corcoran St NW, Washigton, DC",38.911870,-77.038485
40,31102,"11th and Kenyon St NW, Washigton, DC",38.929096,-77.032310
41,31619,"Lincoln Park and 13th and East Capitol St NE , Washigton, DC",38.895140,-76.988019
42,31218,"L'Enfant Plaza and 7th and C St SW, Washigton, DC",38.883851,-77.025194
43,31108,"4th and M St SW, Washigton, DC",38.876518,-77.017640
44,31622,"13th and D St NE, Washigton, DC",38.894777,-76.988310
45,31228,"8th and H St NW, Washigton, DC",38.899814,-77.022948
46,31004,"Aurora Hills Community Ctrand18th and Hayes St, Washigton, DC",38.851501,-77.064144
47,31204,"20th and E St NW, Washigton, DC",38.895941,-77.044922
48,31006,"S Joyce and Army Navy Dr, Washigton, DC",38.865845,-77.062857
49,31223,"Convention Center and 7th and M St NW, Washigton, DC",38.905316,-77.022268
50,31227,"13th St and New York Ave NW, Washigton, DC",38.895126,-77.029066
51,31304,"36th and Calvert St NW and Glover Park, Washigton, DC",38.922351,-77.079988
52,31401,"14th St and Spring Rd NW, Washigton, DC",38.937075,-77.032723
53,31616,"3rd and H St NE, Washigton, DC",38.900303,-77.001687
54,31237,"25th St and Pennsylvania Ave NW, Washigton, DC",38.903679,-77.053298
55,31607,"14th and D St SE, Washigton, DC",38.884104,-76.985518
56,31502,"John McCormack Dr and Michigan Ave NE, Washigton, DC",38.933511,-76.995334
57,31207,"Georgia Ave and Fairmont St NW, Washigton, DC",38.924806,-77.022612
58,31002,"20th and Crystal Dr, Washigton, DC",38.856113,-77.049321
59,31010,"S Glebe and Potomac Ave, Washigton, DC",38.842847,-77.050144
60,31219,"10th St and Constitution Ave NW, Washigton, DC",38.892106,-77.025904
61,31217,"USDA and 12th and Independence Ave SW, Washigton, DC",38.886771,-77.029926
62,31009,"27th and Crystal Dr, Washigton, DC",38.849120,-77.050853
63,31301,"Ward Circle and American University, Washigton, DC",38.937434,-77.086682
64,31610,"Eastern Market and 7th and North Carolina Ave SE, Washigton, DC",38.886448,-76.996479
65,31609,"Maine Ave and 7th St SW, Washigton, DC",38.878650,-77.022833
66,31215,"Georgetown Harbor and 30th St NW, Washigton, DC",38.901877,-77.060110
67,31225,"C and O Canal and Wisconsin Ave NW, Washigton, DC",38.904222,-77.062974
68,31238,"14th and G St NW, Washigton, DC",38.898330,-77.032005
69,31236,"37th and O St NW and Georgetown University, Washigton, DC",38.907609,-77.072258
70,31005,"Pentagon City Metro and 12th and S Hayes St, Washigton, DC",38.862708,-77.059885
71,31618,"4th and East Capitol St NE, Washigton, DC",38.890004,-76.940258
72,31604,"3rd and H St NW, Washigton, DC",38.900815,-77.015136
73,31624,"North Capitol St and F St NW, Washigton, DC",38.897330,-77.009102
74,31106,"Calvert and Biltmore St NW, Washigton, DC",38.923265,-77.047344
75,31700,"Good Hope and Naylor Rd SE, Washigton, DC",38.860658,-76.968779
76,31206,"19th and E Street NW, Washigton, DC",38.895408,-77.043478
77,31235,"19th St and Constitution Ave NW, Washigton, DC",38.892110,-77.043486
78,31222,"New York Ave and 15th St NW, Washigton, DC",38.898760,-77.033677
79,31220,"US Dept of State and Virginia Ave and 21st St NW, Washigton, DC",38.894827,-77.046960
80,31008,"12th and Army Navy Dr, Washigton, DC",38.863663,-77.052673
81,31226,"34th St and Wisconsin Ave NW, Washigton, DC",38.915761,-77.067795
82,31500,"4th and W St NE, Washigton, DC",38.919029,-77.000472
83,31012,"26th and S Clark St, Washigton, DC",38.850831,-77.051769
84,31608,"8th and Eye St SE and Barracks Row, Washigton, DC",38.880156,-76.995319
85,31216,"14th St and New York Ave NW, Washigton, DC",38.899301,-77.032005
86,31303,"Tenleytown and Wisconsin Ave and Albemarle St NW, Washigton, DC",38.947929,-77.079684
87,31504,"10th and Monroe St NE, Washigton, DC",38.931960,-76.997090
88,31003,"15th and Crystal Dr, Washigton, DC",38.858109,-77.049833
89,31013,"Eads and 22nd St S, Washigton, DC",38.854013,-77.063204
90,31505,"Eckington Pl and Q St NE, Washigton, DC",38.911122,-77.004793
91,31209,"1st and N St SE, Washigton, DC",38.874648,-77.005898
92,31211,"Kennedy Center, Washigton, DC",38.895848,-77.055683
93,31601,"19th and East Capitol St SE, Washigton, DC",38.889774,-76.977254
94,31617,"Bladensburg Rd and Benning Rd NE, Washigton, DC",38.900082,-76.983486
95,31805,"Pennsylvania and Minnesota Ave SE, Washigton, DC",38.873531,-76.970504
96,31501,"12th and Newton St NE, Washigton, DC",38.933526,-76.991079
97,31704,"Nannie Helen Burroughs and Minnesota Ave NE, Washigton, DC",38.901965,-76.942565
98,31804,"Anacostia Library, Washigton, DC",38.865981,-76.978538
99,31703,"Minnesota Ave MetroandDOES, Washigton, DC",38.899130,-76.946780
100,31802,"Good Hope Rd and MLK Ave SE, Washigton, DC",38.867440,-76.988609
101,31801,"Anacostia Metro, Washigton, DC",38.862218,-76.995188
102,31705,"Benning Branch Library, Washigton, DC",38.894099,-76.947765
103,31266,"11th and M St NW, Washigton, DC",38.905637,-77.027041
104,31000,"Eads St and 15th St S, Washigton, DC",38.859796,-77.053541
105,31702,"Randle Circle and Minnesota Ave SE, Washigton, DC",38.878541,-76.961129
106,31052,"Potomac Ave and 35th St S, Washigton, DC",38.844264,-77.050472
107,31262,"11th and F St NW, Washigton, DC",38.897343,-77.027047
108,31014,"Lynn and 19th St North, Washigton, DC",38.897111,-77.070836
109,31016,"Clarendon Blvd and Pierce St, Washigton, DC",38.893447,-77.076587
110,31018,"N Rhodes and 16th St N, Washigton, DC",38.891862,-77.079257
111,31015,"Rosslyn Metro and Wilson Blvd and Ft Myer Dr, Washigton, DC",38.895183,-77.072440
112,31231,"14th and D St NW and Ronald Reagan Building, Washigton, DC",38.893917,-77.030775
113,31233,"17th and K St NW and Farragut Square, Washigton, DC",38.901926,-77.038984
114,31232,"7th and F St NW and National Portrait Gallery, Washigton, DC",38.897827,-77.023019
115,31230,"Metro Center and 12th and G St NW, Washigton, DC",38.898028,-77.028569
116,31621,"4th and D St NW and Judiciary Square, Washigton, DC",38.895073,-77.015571
117,31701,"Branch and Pennsylvania Ave SE, Washigton, DC",38.869760,-76.959727
118,31706,"Fairfax Village, Washigton, DC",38.863887,-76.950623
119,31261,"21st St and Constitution Ave NW, Washigton, DC",38.892110,-77.046678
120,31017,"Wilson Blvd and N Uhle St, Washigton, DC",38.891558,-77.084860
121,31019,"Wilson Blvd and N Edgewood St, Washigton, DC",38.889199,-77.091797
122,31113,"Columbia Rd and Belmont St NW, Washigton, DC",38.921039,-77.043730
123,31239,"Rhode Island and Connecticut Ave NW, Washigton, DC",38.905664,-77.041210
124,31241,"Thomas Circle, Washigton, DC",38.905940,-77.031766
125,31022,"Clarendon Metro and Wilson Blvd and N Highland St, Washigton, DC",38.887113,-77.095229
126,31021,"Clarendon Blvd and N Fillmore St, Washigton, DC",38.887876,-77.093129
127,31242,"18th St and Pennsylvania Ave NW, Washigton, DC",38.899592,-77.041685
128,31245,"7th and R St NW and Shaw Library, Washigton, DC",38.912447,-77.022247
129,31625,"3rd and G St SE, Washigton, DC",38.887124,-77.001692
130,31020,"Wilson Blvd and Franklin Rd, Washigton, DC",38.890403,-77.088692
131,31244,"4th and E St SW, Washigton, DC",38.883232,-77.017566
132,31506,"1st and Rhode Island Ave NW, Washigton, DC",38.915738,-77.011761
133,31404,"9th and Upshur St NW, Washigton, DC",38.941559,-77.025070
134,31115,"Columbia Rd and Georgia Ave NW, Washigton, DC",38.928126,-77.023104
135,31615,"6th and H St NE, Washigton, DC",38.900210,-76.998444
136,31614,"11th and H St NE, Washigton, DC",38.900210,-76.991537
137,31116,"California St and Florida Ave NW, Washigton, DC",38.917814,-77.040399
138,31246,"M St and Pennsylvania Ave NW, Washigton, DC",38.905229,-77.057960
139,31307,"3000 Connecticut Ave NW and National Zoo, Washigton, DC",38.929616,-77.049784
140,31707,"Benning Rd and East Capitol St NE and Benning Rd Metro, Washigton, DC",38.890389,-76.937447
141,31708,"Anacostia Ave and Benning Rd NE and River Terrace , Washigton, DC",38.897003,-76.960320
142,31626,"15th St and Massachusetts Ave SE, Washigton, DC",38.906519,-77.034560
143,31806,"Congress Heights Metro, Washigton, DC",38.845393,-76.987786

In [84]:
#Export to csv
StaLoc_df.to_csv("CapitalBikeShare_Stations_2011.csv")

# Find station used by Day/Hour

In [50]:
#Create a new Df
StaHour_df=df1
StaHour_df

,Duration,Start date,End date,Start station number,Start station,End station number,End station,Bike number,Member type
0,3548,2011-01-01 00:01:29,2011-01-01 01:00:37,31620,5th & F St NW,31620,5th & F St NW,W00247,Member
1,346,2011-01-01 00:02:46,2011-01-01 00:08:32,31105,14th & Harvard St NW,31101,14th & V St NW,W00675,Casual
2,562,2011-01-01 00:06:13,2011-01-01 00:15:36,31400,Georgia & New Hampshire Ave NW,31104,Adams Mill & Columbia Rd NW,W00357,Member
3,434,2011-01-01 00:09:21,2011-01-01 00:16:36,31111,10th & U St NW,31503,Florida Ave & R St NW,W00970,Member
4,233,2011-01-01 00:28:26,2011-01-01 00:32:19,31104,Adams Mill & Columbia Rd NW,31106,Calvert & Biltmore St NW,W00346,Casual
...,...,...,...,...,...,...,...,...,...
1226762,300,2011-12-31 23:41:19,2011-12-31 23:46:20,31201,15th & P St NW,31214,17th & Corcoran St NW,W01459,Member
1226763,387,2011-12-31 23:46:43,2011-12-31 23:53:10,31223,Convention Center / 7th & M St NW,31201,15th & P St NW,W01262,Member
1226764,261,2011-12-31 23:47:27,2011-12-31 23:51:49,31107,Lamont & Mt Pleasant NW,31602,Park Rd & Holmead Pl NW,W00998,Member
1226765,2060,2011-12-31 23:55:12,2012-01-01 00:29:33,31205,21st & I St NW,31222,New York Ave & 15th St NW,W00042,Member
1226766,468,2011-12-31 23:55:56,2012-01-01 00:03:45,31221,18th & M St NW,31111,10th & U St NW,W01319,Member

In [51]:
#Display data type
StaHour_df.dtypes

Duration                 int64
Start date              object
End date                object
Start station number     int64
Start station           object
End station number       int64
End station             object
Bike number             object
Member type             object
dtype: object

In [52]:
#rename columns
StaHour_df = StaHour_df.rename(columns={'Start date': 'StartDate', 
                                  'End date': 'EndDate',
                                  'Start station number': 'StartStaNum',
                                  'Start station':'StartSta',
                                  'End station number':'EndStaNum',
                                  'End station':'EndSta',
                                  'Bike number':'BikeNum',
                                  'Member type':'MemberType'})

In [57]:
#Create a new df only with important columns
TripStart_df=StaHour_df.filter(['Duration','StartDate','StartStaNum','BikeNum','MemberType'], axis=1)
TripStart_df.head()

   Duration            StartDate  StartStaNum BikeNum MemberType
0      3548  2011-01-01 00:01:29        31620  W00247     Member
1       346  2011-01-01 00:02:46        31105  W00675     Casual
2       562  2011-01-01 00:06:13        31400  W00357     Member
3       434  2011-01-01 00:09:21        31111  W00970     Member
4       233  2011-01-01 00:28:26        31104  W00346     Casual

In [59]:
#Display data types
TripStart_df.dtypes

Duration        int64
StartDate      object
StartStaNum     int64
BikeNum        object
MemberType     object
dtype: object

In [61]:
#change data type
TripStart_df['StartDate'] = pd.to_datetime(TripStart_df['StartDate'], dayfirst=False)

In [62]:
#separete day and hour
TripStart_df['StartDate_Day'] = TripStart_df['StartDate'].dt.date
TripStart_df['StartDate_hour'] = TripStart_df['StartDate'].dt.hour

In [63]:
TripStart_df

,Duration,StartDate,StartStaNum,BikeNum,MemberType,StartDate_Day,StartDate_hour
0,3548,2011-01-01 00:01:29,31620,W00247,Member,2011-01-01,0
1,346,2011-01-01 00:02:46,31105,W00675,Casual,2011-01-01,0
2,562,2011-01-01 00:06:13,31400,W00357,Member,2011-01-01,0
3,434,2011-01-01 00:09:21,31111,W00970,Member,2011-01-01,0
4,233,2011-01-01 00:28:26,31104,W00346,Casual,2011-01-01,0
...,...,...,...,...,...,...,...
1226762,300,2011-12-31 23:41:19,31201,W01459,Member,2011-12-31,23
1226763,387,2011-12-31 23:46:43,31223,W01262,Member,2011-12-31,23
1226764,261,2011-12-31 23:47:27,31107,W00998,Member,2011-12-31,23
1226765,2060,2011-12-31 23:55:12,31205,W00042,Member,2011-12-31,23
1226766,468,2011-12-31 23:55:56,31221,W01319,Member,2011-12-31,23

In [64]:
#Drop not important columns
TripStart_df.drop(['StartDate', 'MemberType'], axis=1, inplace=True)
TripStart_df

         Duration  StartStaNum BikeNum StartDate_Day  StartDate_hour
0            3548        31620  W00247    2011-01-01               0
1             346        31105  W00675    2011-01-01               0
2             562        31400  W00357    2011-01-01               0
3             434        31111  W00970    2011-01-01               0
4             233        31104  W00346    2011-01-01               0
...           ...          ...     ...           ...             ...
1226762       300        31201  W01459    2011-12-31              23
1226763       387        31223  W01262    2011-12-31              23
1226764       261        31107  W00998    2011-12-31              23
1226765      2060        31205  W00042    2011-12-31              23
1226766       468        31221  W01319    2011-12-31              23

[1226767 rows x 5 columns]

In [66]:
#display data types
TripStart_df.dtypes

Duration           int64
StartStaNum        int64
BikeNum           object
StartDate_Day     object
StartDate_hour     int64
dtype: object

In [67]:
#Change data type
TripStart_df['StartDate_Day'] = pd.to_datetime(TripStart_df['StartDate_Day'], dayfirst=False)
TripStart_df.dtypes

Duration                   int64
StartStaNum                int64
BikeNum                   object
StartDate_Day     datetime64[ns]
StartDate_hour             int64
dtype: object

In [68]:
#Duplicate station number to count later
TripStart_df['Station']=TripStart_df['StartStaNum']

In [70]:
TripStart_df.head()

   Duration  StartStaNum BikeNum StartDate_Day  StartDate_hour  Station
0      3548        31620  W00247    2011-01-01               0    31620
1       346        31105  W00675    2011-01-01               0    31105
2       562        31400  W00357    2011-01-01               0    31400
3       434        31111  W00970    2011-01-01               0    31111
4       233        31104  W00346    2011-01-01               0    31104

# Trips by Stations by day

In [71]:
#Create a df only for trips by day
TripStartDay_df=TripStart_df

In [73]:
#group by and get total by day
TripStartDay=TripStartDay_df.groupby(['StartDate_Day','StartStaNum']).agg({'Station':'count','Duration':'sum'}).reset_index()
TripStartDay

      StartDate_Day  StartStaNum  Station  Duration
0        2011-01-01        31001        6      2946
1        2011-01-01        31002        2       757
2        2011-01-01        31003        1       415
3        2011-01-01        31004        2       538
4        2011-01-01        31005        1      5674
...             ...          ...      ...       ...
38695    2011-12-31        31626       14      9173
38696    2011-12-31        31700        1       679
38697    2011-12-31        31701        1      1856
38698    2011-12-31        31705        1       443
38699    2011-12-31        31707        1       321

[38700 rows x 4 columns]

In [74]:
#del TripStartDay.Duration
del TripStartDay['Duration']
TripStartDay

      StartDate_Day  StartStaNum  Station
0        2011-01-01        31001        6
1        2011-01-01        31002        2
2        2011-01-01        31003        1
3        2011-01-01        31004        2
4        2011-01-01        31005        1
...             ...          ...      ...
38695    2011-12-31        31626       14
38696    2011-12-31        31700        1
38697    2011-12-31        31701        1
38698    2011-12-31        31705        1
38699    2011-12-31        31707        1

[38700 rows x 3 columns]

In [75]:
#newf = TripStartDay.pivot(index='StartDate_Day',columns='StartStaNum').reset_index().rename_axis(None, axis=1)
#newf = TripStartDay.groupby(['StartDate_Day', 'StartStaNum']).sum().unstack(fill_value=0).reset_index().rename_axis(None, axis=1)
newf = TripStartDay
newf['count'] = 1

In [98]:
new = newf.pivot_table(index='StartDate_Day', columns='StartStaNum',values='Station', aggfunc='sum', fill_value=0).reset_index()
new

StartStaNum,StartDate_Day,31000,31001,31002,31003,31004,31005,31006,31007,31008,...,31704,31705,31706,31707,31708,31801,31802,31804,31805,31806
0,2011-01-01,0,6,2,1,2,1,2,7,2,...,0,0,0,0,0,0,0,0,0,0
1,2011-01-02,0,1,1,0,2,1,3,6,1,...,1,0,0,0,0,0,0,0,1,0
2,2011-01-03,0,3,2,3,2,3,6,16,1,...,0,0,0,0,0,0,0,1,0,0
3,2011-01-04,0,1,1,4,1,1,2,22,2,...,0,0,0,0,0,0,1,0,0,0
4,2011-01-05,0,2,2,5,4,2,3,20,2,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,2011-12-27,0,2,3,1,1,0,1,6,1,...,0,0,0,0,0,0,0,0,0,1
361,2011-12-28,0,4,2,1,1,2,3,9,1,...,0,0,0,0,0,1,0,1,0,1
362,2011-12-29,0,2,3,4,2,1,1,13,2,...,0,1,0,1,0,1,0,1,0,1
363,2011-12-30,0,6,4,2,3,2,4,11,5,...,0,0,0,2,0,0,1,1,0,0
364,2011-12-31,0,7,3,2,1,1,7,6,5,...,0,1,0,1,0,0,0,0,0,0

In [99]:
new.dtypes

StartStaNum
StartDate_Day    datetime64[ns]
31000                     int64
31001                     int64
31002                     int64
31003                     int64
                      ...
31801                     int64
31802                     int64
31804                     int64
31805                     int64
31806                     int64
Length: 145, dtype: object

In [81]:
new.columns.get_loc(31000)

1

In [100]:
new['total_trips'] = new[:].sum(axis=1)
new.head()

StartStaNum,StartDate_Day,31000,31001,31002,31003,31004,31005,31006,31007,31008,...,31705,31706,31707,31708,31801,31802,31804,31805,31806,total_trips
0,2011-01-01,0,6,2,1,2,1,2,7,2,...,0,0,0,0,0,0,0,0,0,959
1,2011-01-02,0,1,1,0,2,1,3,6,1,...,0,0,0,0,0,0,0,1,0,781
2,2011-01-03,0,3,2,3,2,3,6,16,1,...,0,0,0,0,0,0,1,0,0,1301
3,2011-01-04,0,1,1,4,1,1,2,22,2,...,0,0,0,0,0,1,0,0,0,1536
4,2011-01-05,0,2,2,5,4,2,3,20,2,...,0,0,0,0,0,0,0,0,0,1571

In [113]:
#export to csv CapitalBikeShare_Stations_2011
new.to_csv("CapitalBikeShareStation_2011_Byday.csv")

In [103]:
#display data types
new.dtypes

StartStaNum
StartDate_Day    datetime64[ns]
31000                     int64
31001                     int64
31002                     int64
31003                     int64
                      ...
31802                     int64
31804                     int64
31805                     int64
31806                     int64
total_trips               int64
Length: 146, dtype: object

In [170]:
#Max trips per station by day
MaxTripDay=TripStartDay
MaxTripDay.head()

  StartDate_Day  StartStaNum  Station  count
0    2011-01-01        31001        6      1
1    2011-01-01        31002        2      1
2    2011-01-01        31003        1      1
3    2011-01-01        31004        2      1
4    2011-01-01        31005        1      1

In [171]:
#groupby and count
MaxTripDay=MaxTripDay.groupby(['StartDate_Day', 'StartStaNum']).agg({'Station':'max'}).reset_index()
MaxTripDay.head()

  StartDate_Day  StartStaNum  Station
0    2011-01-01        31001        6
1    2011-01-01        31002        2
2    2011-01-01        31003        1
3    2011-01-01        31004        2
4    2011-01-01        31005        1

In [172]:
#Display dataframe
MaxTripDay.head(20)

   StartDate_Day  StartStaNum  Station
0     2011-01-01        31001        6
1     2011-01-01        31002        2
2     2011-01-01        31003        1
3     2011-01-01        31004        2
4     2011-01-01        31005        1
5     2011-01-01        31006        2
6     2011-01-01        31007        7
7     2011-01-01        31008        2
8     2011-01-01        31009        6
9     2011-01-01        31010        4
10    2011-01-01        31011        6
11    2011-01-01        31012        2
12    2011-01-01        31100        8
13    2011-01-01        31101       28
14    2011-01-01        31102       10
15    2011-01-01        31103       28
16    2011-01-01        31104       40
17    2011-01-01        31105       12
18    2011-01-01        31106       18
19    2011-01-01        31107       19

# Trip by Station by Hour

In [104]:
TripStartHour_df=TripStart_df
TripStartHour_df.head()

   Duration  StartStaNum BikeNum StartDate_Day  StartDate_hour  Station
0      3548        31620  W00247    2011-01-01               0    31620
1       346        31105  W00675    2011-01-01               0    31105
2       562        31400  W00357    2011-01-01               0    31400
3       434        31111  W00970    2011-01-01               0    31111
4       233        31104  W00346    2011-01-01               0    31104

In [105]:
TripStartHour=TripStartHour_df.groupby(['StartDate_Day','StartStaNum', 'StartDate_hour']).agg({'Station':'count','Duration':'sum'}).reset_index()
TripStartHour.head()

  StartDate_Day  StartStaNum  StartDate_hour  Station  Duration
0    2011-01-01        31001               2        2       464
1    2011-01-01        31001              11        2       785
2    2011-01-01        31001              12        1       232
3    2011-01-01        31001              15        1      1465
4    2011-01-01        31002              11        1       282

In [106]:
del TripStartHour['Duration']
TripStartHour.head()

  StartDate_Day  StartStaNum  StartDate_hour  Station
0    2011-01-01        31001               2        2
1    2011-01-01        31001              11        2
2    2011-01-01        31001              12        1
3    2011-01-01        31001              15        1
4    2011-01-01        31002              11        1

In [107]:
test=TripStartHour
test['count'] = 1

In [108]:
test = test.pivot_table(index=['StartDate_Day','StartDate_hour'], columns='StartStaNum',values='Station', aggfunc='sum', fill_value=0).reset_index()
test.head()

StartStaNum,StartDate_Day,StartDate_hour,31000,31001,31002,31003,31004,31005,31006,31007,...,31704,31705,31706,31707,31708,31801,31802,31804,31805,31806
0,2011-01-01,0,0,0,0,0,0,0,0,2,...,0,0,0,0,0,0,0,0,0,0
1,2011-01-01,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2011-01-01,2,0,2,0,0,0,0,0,2,...,0,0,0,0,0,0,0,0,0,0
3,2011-01-01,3,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2011-01-01,4,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [109]:
test['total_trips'] = test[:].sum(axis=1)
test.head()

StartStaNum,StartDate_Day,StartDate_hour,31000,31001,31002,31003,31004,31005,31006,31007,...,31705,31706,31707,31708,31801,31802,31804,31805,31806,total_trips
0,2011-01-01,0,0,0,0,0,0,0,0,2,...,0,0,0,0,0,0,0,0,0,16
1,2011-01-01,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,39
2,2011-01-01,2,0,2,0,0,0,0,0,2,...,0,0,0,0,0,0,0,0,0,33
3,2011-01-01,3,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,15
4,2011-01-01,4,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,5

In [111]:
test= test.rename(columns={'StartStaNum': 'Index','StartDate_Day': 'Day', 'StartDate_hour':'Hour'})
test.head()

StartStaNum,Day,Hour,31000,31001,31002,31003,31004,31005,31006,31007,...,31705,31706,31707,31708,31801,31802,31804,31805,31806,total_trips
0,2011-01-01,0,0,0,0,0,0,0,0,2,...,0,0,0,0,0,0,0,0,0,16
1,2011-01-01,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,39
2,2011-01-01,2,0,2,0,0,0,0,0,2,...,0,0,0,0,0,0,0,0,0,33
3,2011-01-01,3,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,15
4,2011-01-01,4,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,5

In [112]:
#CapitalBikeShare_Stations_2011
test.to_csv("CapitalBikeShareStation_2011_ByHour.csv")

# Concat Day dataframes

In [176]:
CBS_temp_2011=pd.read_csv("data/bikesharing_day_2011.csv")
CBS_trips_2011=pd.read_csv("CapitalBikeShareStation_2011_Byday.csv")

In [115]:
CBS_trips_2011.head()

,Unnamed: 0,StartDate_Day,31000,31001,31002,31003,31004,31005,31006,31007,...,31705,31706,31707,31708,31801,31802,31804,31805,31806,total_trips
0,0,2011-01-01,0,6,2,1,2,1,2,7,...,0,0,0,0,0,0,0,0,0,959
1,1,2011-01-02,0,1,1,0,2,1,3,6,...,0,0,0,0,0,0,0,1,0,781
2,2,2011-01-03,0,3,2,3,2,3,6,16,...,0,0,0,0,0,0,1,0,0,1301
3,3,2011-01-04,0,1,1,4,1,1,2,22,...,0,0,0,0,0,1,0,0,0,1536
4,4,2011-01-05,0,2,2,5,4,2,3,20,...,0,0,0,0,0,0,0,0,0,1571

In [117]:
CBS_temp_2011.head()

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1.0,1/1/2011,1.0,0.0,1.0,0.0,6.0,0.0,2.0,0.344167,0.363625,0.805833,0.160446,331.0,654.0,985.0
1,2.0,1/2/2011,1.0,0.0,1.0,0.0,0.0,0.0,2.0,0.363478,0.353739,0.696087,0.248539,131.0,670.0,801.0
2,3.0,1/3/2011,1.0,0.0,1.0,0.0,1.0,1.0,1.0,0.196364,0.189405,0.437273,0.248309,120.0,1229.0,1349.0
3,4.0,1/4/2011,1.0,0.0,1.0,0.0,2.0,1.0,1.0,0.200000,0.212122,0.590435,0.160296,108.0,1454.0,1562.0
4,5.0,1/5/2011,1.0,0.0,1.0,0.0,3.0,1.0,1.0,0.226957,0.229270,0.436957,0.186900,82.0,1518.0,1600.0

In [118]:
CBS_trips_2011['StartDate_Day'] = pd.to_datetime(CBS_trips_2011['StartDate_Day'], dayfirst=True)
CBS_trips_2011.head()

,Unnamed: 0,StartDate_Day,31000,31001,31002,31003,31004,31005,31006,31007,...,31705,31706,31707,31708,31801,31802,31804,31805,31806,total_trips
0,0,2011-01-01,0,6,2,1,2,1,2,7,...,0,0,0,0,0,0,0,0,0,959
1,1,2011-01-02,0,1,1,0,2,1,3,6,...,0,0,0,0,0,0,0,1,0,781
2,2,2011-01-03,0,3,2,3,2,3,6,16,...,0,0,0,0,0,0,1,0,0,1301
3,3,2011-01-04,0,1,1,4,1,1,2,22,...,0,0,0,0,0,1,0,0,0,1536
4,4,2011-01-05,0,2,2,5,4,2,3,20,...,0,0,0,0,0,0,0,0,0,1571

In [119]:
CBS_temp_2011['dteday'] = pd.to_datetime(CBS_temp_2011['dteday'], dayfirst=True)
CBS_temp_2011.head()

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1.0,2011-01-01,1.0,0.0,1.0,0.0,6.0,0.0,2.0,0.344167,0.363625,0.805833,0.160446,331.0,654.0,985.0
1,2.0,2011-02-01,1.0,0.0,1.0,0.0,0.0,0.0,2.0,0.363478,0.353739,0.696087,0.248539,131.0,670.0,801.0
2,3.0,2011-03-01,1.0,0.0,1.0,0.0,1.0,1.0,1.0,0.196364,0.189405,0.437273,0.248309,120.0,1229.0,1349.0
3,4.0,2011-04-01,1.0,0.0,1.0,0.0,2.0,1.0,1.0,0.200000,0.212122,0.590435,0.160296,108.0,1454.0,1562.0
4,5.0,2011-05-01,1.0,0.0,1.0,0.0,3.0,1.0,1.0,0.226957,0.229270,0.436957,0.186900,82.0,1518.0,1600.0

In [120]:
df_col = pd.concat([CBS_temp_2011,CBS_trips_2011], axis=1)
df_col = df_col.dropna()
df_col.shape

(365, 163)

In [30]:
pd.set_option('display.max_columns', None)

In [133]:
df_col.head()

,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt,StartDate_Day,31000,31001,31002,31003,31004,31005,31006,31007,31008,31009,31010,31011,31012,31013,31014,31015,31016,31017,31018,31019,31020,31021,31022,31052,31100,31101,31102,31103,31104,31105,31106,31107,31108,31109,31110,31111,31112,31113,31115,31116,31200,31201,31202,31203,31204,31205,31206,31207,31208,31209,31211,31212,31213,31214,31215,31216,31217,31218,31219,31220,31221,31222,31223,31224,31225,31226,31227,31228,31229,31230,31231,31232,31233,31235,31236,31237,31238,31239,31241,31242,31244,31245,31246,31261,31262,31266,31300,31301,31302,31303,31304,31305,31307,31400,31401,31402,31404,31500,31501,31502,31503,31504,31505,31506,31600,31601,31602,31603,31604,31605,31606,31607,31608,31609,31610,31611,31613,31614,31615,31616,31617,31618,31619,31620,31621,31622,31623,31624,31625,31626,31700,31701,31702,31703,31704,31705,31706,31707,31708,31801,31802,31804,31805,31806,total_trips
0,2011-01-01,1.0,0.0,1.0,0.0,6.0,0.0,2.0,0.344167,0.363625,0.805833,0.160446,331.0,654.0,985.0,2011-01-01,0.0,6.0,2.0,1.0,2.0,1.0,2.0,7.0,2.0,6.0,4.0,6.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.0,28.0,10.0,28.0,40.0,12.0,18.0,19.0,7.0,10.0,17.0,22.0,5.0,0.0,0.0,0.0,24.0,29.0,17.0,22.0,16.0,9.0,5.0,8.0,5.0,0.0,0.0,8.0,11.0,25.0,15.0,2.0,15.0,3.0,26.0,9.0,13.0,15.0,17.0,4.0,17.0,1.0,21.0,44.0,25.0,0.0,0.0,0.0,0.0,6.0,2.0,7.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,2.0,5.0,2.0,3.0,7.0,0.0,18.0,4.0,3.0,0.0,1.0,0.0,2.0,10.0,1.0,0.0,0.0,9.0,0.0,24.0,9.0,6.0,11.0,15.0,8.0,2.0,6.0,7.0,17.0,19.0,0.0,0.0,15.0,0.0,6.0,11.0,15.0,0.0,7.0,13.0,3.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,959.0
1,2011-02-01,1.0,0.0,1.0,0.0,0.0,0.0,2.0,0.363478,0.353739,0.696087,0.248539,131.0,670.0,801.0,2011-01-02,0.0,1.0,1.0,0.0,2.0,1.0,3.0,6.0,1.0,0.0,2.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,20.0,15.0,15.0,30.0,22.0,12.0,20.0,8.0,6.0,10.0,17.0,2.0,0.0,0.0,0.0,22.0,27.0,15.0,21.0,4.0,6.0,1.0,10.0,11.0,4.0,5.0,6.0,3.0,15.0,4.0,1.0,2.0,8.0,14.0,3.0,10.0,12.0,11.0,7.0,5.0,2.0,7.0,13.0,24.0,0.0,0.0,0.0,0.0,13.0,0.0,12.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,0.0,6.0,6.0,0.0,6.0,0.0,16.0,15.0,1.0,0.0,0.0,1.0,1.0,9.0,2.0,2.0,0.0,14.0,1.0,45.0,4.0,7.0,11.0,7.0,8.0,0.0,3.0,8.0,6.0,17.0,0.0,0.0,8.0,1.0,11.0,18.0,11.0,0.0,10.0,9.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,781.0
2,2011-03-01,1.0,0.0,1.0,0.0,1.0,1.0,1.0,0.196364,0.189405,0.437273,0.248309,120.0,1229.0,1349.0,2011-01-03,0.0,3.0,2.0,3.0,2.0,3.0,6.0,16.0,1.0,11.0,5.0,5.0,5.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,33.0,53.0,16.0,19.0,38.0,28.0,18.0,16.0,13.0,11.0,34.0,23.0,4.0,0.0,0.0,0.0,45.0,45.0,14.0,17.0,10.0,17.0,13.0,7.0,8.0,0.0,1.0,26.0,31.0,35.0,9.0,17.0,14.0,22.0,19.0,26.0,17.0,16.0,17.0,23.0,5.0,4.0,18.0,17.0,29.0,0.0,0.0,0.0,0.0,18.0,4.0,14.0,19.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,2.0,6.0,4.0,1.0,6.0,0.0,14.0,10.0,2.0,0.0,1.0,2.0,0.0,13.0,1.0,7.0,0.0,14.0,0.0,37.0,12.0,11.0,10.0,4.0,2.0,5.0,10.0,12.0,6.0,22.0,0.0,0.0,6.0,1.0,16.0,20.0,28.0,0.0,14.0,29.0,17.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1301.0
3,2011-04-01,1.0,0.0,1.0,0.0,2.0,1.0,1.0,0.200000,0.212122,0.590435,0.160296,108.0,1454.0,1562.0,2011-01-04,0.0,1.0,1.0,4.0,1.0,1.0,2.0,22.0,2.0,10.0,10.0,7.0,7.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,32.0,58.0,12.0,29.0,40.0,29.0,25.0,14.0,16.0,11.0,39.0,23.0,3.0,0.0,0.0,0.0,52.0,52.0,20.0,31.0,14.0,20.0,16.0,13.0,18.0,0.0,0.0,21.0,36.0,38.0,6.0,13.0,20.0,26.0,19.0,23.0,28.0,18.0,21.0,29.0,16.0,5.0,20.0,31.0,29.0,0.0,0.0,0.0,0.0,20.0,8.0,22.0,19.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,4.0,6.0,3.0,0.0,9.0,0.0,16.0,17.0,1.0,0.0,2.0,2.0,0.0,21.0,2.0,4.0,0.0,23.0,1.0,27.0,14.0,16.0,12.0,10.0,3.0,9.0,7.0,10.0,10.0,41.0,0.0,0.0,7.0,0.0,19.0,32.0,29.0,0.0,15.0,31.0,22.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1536.0
4,2011-05-01,1.0,0.0,1.0,0.0,3.0,1.0,1.0,0.226957,0.229270,0.436957,0.186900,82.0,1518.0,1600.0,2011-01-05,0.0,2.0,2.0,5.0,4.0,2.0,3.0,20.0,2.0,8.0,5.0,10.0,1.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,31.0,48.0,15.0,35.0,58.0,35.0,20.0,29.0,15.0,17.0,39.0,28.0,5.0,0.0,0.0,0.0,47.0,48.0,20.0,29.0,18.0,23.0,16.0,9.0,15.0,0.0,1.0,25.0,36.0,40.0,11.0,12.0,14.0,32.0,25.0,21.0,37.0,23.0,14.0,33.0,15.0,4.0,31.0,23.0,27.0,0.0,0.0,0.0,0.0,5.0,8.0,27.0,18.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0,4.0,8.0,8.0,1.0,5.0,0.0,16.0,15.0,3.0,0.0,1.0,4.0,0.0,16.0,0.0,3.0,0.0,15.0,2.0,38.0,17.0,10.0,16.0,8.0,6.0,9.0,5.0,9.0,9.0,31.0,0.0,0.0,7.0,1.0,21.0,21.0,26.0,0.0,18.0,41.0,19.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1571.0

In [134]:
del df_col['StartDate_Day']
df_col.head()

,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt,31000,31001,31002,31003,31004,31005,31006,31007,31008,31009,31010,31011,31012,31013,31014,31015,31016,31017,31018,31019,31020,31021,31022,31052,31100,31101,31102,31103,31104,31105,31106,31107,31108,31109,31110,31111,31112,31113,31115,31116,31200,31201,31202,31203,31204,31205,31206,31207,31208,31209,31211,31212,31213,31214,31215,31216,31217,31218,31219,31220,31221,31222,31223,31224,31225,31226,31227,31228,31229,31230,31231,31232,31233,31235,31236,31237,31238,31239,31241,31242,31244,31245,31246,31261,31262,31266,31300,31301,31302,31303,31304,31305,31307,31400,31401,31402,31404,31500,31501,31502,31503,31504,31505,31506,31600,31601,31602,31603,31604,31605,31606,31607,31608,31609,31610,31611,31613,31614,31615,31616,31617,31618,31619,31620,31621,31622,31623,31624,31625,31626,31700,31701,31702,31703,31704,31705,31706,31707,31708,31801,31802,31804,31805,31806,total_trips
0,2011-01-01,1.0,0.0,1.0,0.0,6.0,0.0,2.0,0.344167,0.363625,0.805833,0.160446,331.0,654.0,985.0,0.0,6.0,2.0,1.0,2.0,1.0,2.0,7.0,2.0,6.0,4.0,6.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.0,28.0,10.0,28.0,40.0,12.0,18.0,19.0,7.0,10.0,17.0,22.0,5.0,0.0,0.0,0.0,24.0,29.0,17.0,22.0,16.0,9.0,5.0,8.0,5.0,0.0,0.0,8.0,11.0,25.0,15.0,2.0,15.0,3.0,26.0,9.0,13.0,15.0,17.0,4.0,17.0,1.0,21.0,44.0,25.0,0.0,0.0,0.0,0.0,6.0,2.0,7.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,2.0,5.0,2.0,3.0,7.0,0.0,18.0,4.0,3.0,0.0,1.0,0.0,2.0,10.0,1.0,0.0,0.0,9.0,0.0,24.0,9.0,6.0,11.0,15.0,8.0,2.0,6.0,7.0,17.0,19.0,0.0,0.0,15.0,0.0,6.0,11.0,15.0,0.0,7.0,13.0,3.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,959.0
1,2011-02-01,1.0,0.0,1.0,0.0,0.0,0.0,2.0,0.363478,0.353739,0.696087,0.248539,131.0,670.0,801.0,0.0,1.0,1.0,0.0,2.0,1.0,3.0,6.0,1.0,0.0,2.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,20.0,15.0,15.0,30.0,22.0,12.0,20.0,8.0,6.0,10.0,17.0,2.0,0.0,0.0,0.0,22.0,27.0,15.0,21.0,4.0,6.0,1.0,10.0,11.0,4.0,5.0,6.0,3.0,15.0,4.0,1.0,2.0,8.0,14.0,3.0,10.0,12.0,11.0,7.0,5.0,2.0,7.0,13.0,24.0,0.0,0.0,0.0,0.0,13.0,0.0,12.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,0.0,6.0,6.0,0.0,6.0,0.0,16.0,15.0,1.0,0.0,0.0,1.0,1.0,9.0,2.0,2.0,0.0,14.0,1.0,45.0,4.0,7.0,11.0,7.0,8.0,0.0,3.0,8.0,6.0,17.0,0.0,0.0,8.0,1.0,11.0,18.0,11.0,0.0,10.0,9.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,781.0
2,2011-03-01,1.0,0.0,1.0,0.0,1.0,1.0,1.0,0.196364,0.189405,0.437273,0.248309,120.0,1229.0,1349.0,0.0,3.0,2.0,3.0,2.0,3.0,6.0,16.0,1.0,11.0,5.0,5.0,5.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,33.0,53.0,16.0,19.0,38.0,28.0,18.0,16.0,13.0,11.0,34.0,23.0,4.0,0.0,0.0,0.0,45.0,45.0,14.0,17.0,10.0,17.0,13.0,7.0,8.0,0.0,1.0,26.0,31.0,35.0,9.0,17.0,14.0,22.0,19.0,26.0,17.0,16.0,17.0,23.0,5.0,4.0,18.0,17.0,29.0,0.0,0.0,0.0,0.0,18.0,4.0,14.0,19.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,2.0,6.0,4.0,1.0,6.0,0.0,14.0,10.0,2.0,0.0,1.0,2.0,0.0,13.0,1.0,7.0,0.0,14.0,0.0,37.0,12.0,11.0,10.0,4.0,2.0,5.0,10.0,12.0,6.0,22.0,0.0,0.0,6.0,1.0,16.0,20.0,28.0,0.0,14.0,29.0,17.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1301.0
3,2011-04-01,1.0,0.0,1.0,0.0,2.0,1.0,1.0,0.200000,0.212122,0.590435,0.160296,108.0,1454.0,1562.0,0.0,1.0,1.0,4.0,1.0,1.0,2.0,22.0,2.0,10.0,10.0,7.0,7.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,32.0,58.0,12.0,29.0,40.0,29.0,25.0,14.0,16.0,11.0,39.0,23.0,3.0,0.0,0.0,0.0,52.0,52.0,20.0,31.0,14.0,20.0,16.0,13.0,18.0,0.0,0.0,21.0,36.0,38.0,6.0,13.0,20.0,26.0,19.0,23.0,28.0,18.0,21.0,29.0,16.0,5.0,20.0,31.0,29.0,0.0,0.0,0.0,0.0,20.0,8.0,22.0,19.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,4.0,6.0,3.0,0.0,9.0,0.0,16.0,17.0,1.0,0.0,2.0,2.0,0.0,21.0,2.0,4.0,0.0,23.0,1.0,27.0,14.0,16.0,12.0,10.0,3.0,9.0,7.0,10.0,10.0,41.0,0.0,0.0,7.0,0.0,19.0,32.0,29.0,0.0,15.0,31.0,22.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1536.0
4,2011-05-01,1.0,0.0,1.0,0.0,3.0,1.0,1.0,0.226957,0.229270,0.436957,0.186900,82.0,1518.0,1600.0,0.0,2.0,2.0,5.0,4.0,2.0,3.0,20.0,2.0,8.0,5.0,10.0,1.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,31.0,48.0,15.0,35.0,58.0,35.0,20.0,29.0,15.0,17.0,39.0,28.0,5.0,0.0,0.0,0.0,47.0,48.0,20.0,29.0,18.0,23.0,16.0,9.0,15.0,0.0,1.0,25.0,36.0,40.0,11.0,12.0,14.0,32.0,25.0,21.0,37.0,23.0,14.0,33.0,15.0,4.0,31.0,23.0,27.0,0.0,0.0,0.0,0.0,5.0,8.0,27.0,18.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0,4.0,8.0,8.0,1.0,5.0,0.0,16.0,15.0,3.0,0.0,1.0,4.0,0.0,16.0,0.0,3.0,0.0,15.0,2.0,38.0,17.0,10.0,16.0,8.0,6.0,9.0,5.0,9.0,9.0,31.0,0.0,0.0,7.0,1.0,21.0,21.0,26.0,0.0,18.0,41.0,19.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1571.0

In [140]:
df_col.to_csv("CapitalBikeShareStation_2011_TotalDay.csv")

In [142]:
CBS_complete_2011=pd.read_csv("CapitalBikeShareStation_2011_TotalDay.csv")
CBS_complete_2011.shape

(365, 161)

# Find Busiest

# By day

In [12]:
#maxValuesObj = dfObj.max(axis=1)
#df.idxmax(axis=1)
CBS_trips2011_test=pd.read_csv("CapitalBikeShareStation_2011_Byday.csv")
CBS_trips_2011_daymax=pd.read_csv("data/bikesharing_day_2011.csv")

In [13]:
del CBS_trips2011_test['Unnamed: 0']
del CBS_trips2011_test['StartDate_Day']
del CBS_trips2011_test['total_trips']

In [14]:
CBS_trips2011_test

,31000,31001,31002,31003,31004,31005,31006,31007,31008,31009,...,31704,31705,31706,31707,31708,31801,31802,31804,31805,31806
0,0,6,2,1,2,1,2,7,2,6,...,0,0,0,0,0,0,0,0,0,0
1,0,1,1,0,2,1,3,6,1,0,...,1,0,0,0,0,0,0,0,1,0
2,0,3,2,3,2,3,6,16,1,11,...,0,0,0,0,0,0,0,1,0,0
3,0,1,1,4,1,1,2,22,2,10,...,0,0,0,0,0,0,1,0,0,0
4,0,2,2,5,4,2,3,20,2,8,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,0,2,3,1,1,0,1,6,1,3,...,0,0,0,0,0,0,0,0,0,1
361,0,4,2,1,1,2,3,9,1,7,...,0,0,0,0,0,1,0,1,0,1
362,0,2,3,4,2,1,1,13,2,9,...,0,1,0,1,0,1,0,1,0,1
363,0,6,4,2,3,2,4,11,5,6,...,0,0,0,2,0,0,1,1,0,0
364,0,7,3,2,1,1,7,6,5,6,...,0,1,0,1,0,0,0,0,0,0

In [15]:
CBS_trips2011_test['BusiestSta']=CBS_trips2011_test.idxmax(axis=1)
CBS_trips2011_test

,31000,31001,31002,31003,31004,31005,31006,31007,31008,31009,...,31705,31706,31707,31708,31801,31802,31804,31805,31806,BusiestSta
0,0,6,2,1,2,1,2,7,2,6,...,0,0,0,0,0,0,0,0,0,31228
1,0,1,1,0,2,1,3,6,1,0,...,0,0,0,0,0,0,0,1,0,31602
2,0,3,2,3,2,3,6,16,1,11,...,0,0,0,0,0,0,1,0,0,31101
3,0,1,1,4,1,1,2,22,2,10,...,0,0,0,0,0,1,0,0,0,31101
4,0,2,2,5,4,2,3,20,2,8,...,0,0,0,0,0,0,0,0,0,31104
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,0,2,3,1,1,0,1,6,1,3,...,0,0,0,0,0,0,0,0,1,31214
361,0,4,2,1,1,2,3,9,1,7,...,0,0,0,0,1,0,1,0,1,31214
362,0,2,3,4,2,1,1,13,2,9,...,1,0,1,0,1,0,1,0,1,31200
363,0,6,4,2,3,2,4,11,5,6,...,0,0,2,0,0,1,1,0,0,31200
364,0,7,3,2,1,1,7,6,5,6,...,1,0,1,0,0,0,0,0,0,31201

In [16]:
CBS_trips_2011_daymax['BusiestSta']=CBS_trips2011_test['BusiestSta']

In [17]:
CBS_trips_2011_daymax = CBS_trips_2011_daymax.dropna()
CBS_trips_2011_daymax

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt,BusiestSta
0,1.0,1/1/2011,1.0,0.0,1.0,0.0,6.0,0.0,2.0,0.344167,0.363625,0.805833,0.160446,331.0,654.0,985.0,31228
1,2.0,1/2/2011,1.0,0.0,1.0,0.0,0.0,0.0,2.0,0.363478,0.353739,0.696087,0.248539,131.0,670.0,801.0,31602
2,3.0,1/3/2011,1.0,0.0,1.0,0.0,1.0,1.0,1.0,0.196364,0.189405,0.437273,0.248309,120.0,1229.0,1349.0,31101
3,4.0,1/4/2011,1.0,0.0,1.0,0.0,2.0,1.0,1.0,0.200000,0.212122,0.590435,0.160296,108.0,1454.0,1562.0,31101
4,5.0,1/5/2011,1.0,0.0,1.0,0.0,3.0,1.0,1.0,0.226957,0.229270,0.436957,0.186900,82.0,1518.0,1600.0,31104
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,361.0,12/27/2011,1.0,0.0,12.0,0.0,2.0,1.0,2.0,0.325000,0.327633,0.762500,0.188450,103.0,1059.0,1162.0,31214
361,362.0,12/28/2011,1.0,0.0,12.0,0.0,3.0,1.0,1.0,0.299130,0.279974,0.503913,0.293961,255.0,2047.0,2302.0,31214
362,363.0,12/29/2011,1.0,0.0,12.0,0.0,4.0,1.0,1.0,0.248333,0.263892,0.574167,0.119412,254.0,2169.0,2423.0,31200
363,364.0,12/30/2011,1.0,0.0,12.0,0.0,5.0,1.0,1.0,0.311667,0.318812,0.636667,0.134337,491.0,2508.0,2999.0,31200
364,365.0,12/31/2011,1.0,0.0,12.0,0.0,6.0,0.0,1.0,0.410000,0.414121,0.615833,0.220154,665.0,1820.0,2485.0,31201

In [18]:
del CBS_trips_2011_daymax['dteday']
del CBS_trips_2011_daymax['casual']
del CBS_trips_2011_daymax['registered']
del CBS_trips_2011_daymax['cnt']
del CBS_trips_2011_daymax['yr']

In [20]:
CBS_trips_2011_daymax.to_csv("CBS_2011_TotalDay.csv")

In [21]:
CBS_trips_2011_daymax

,instant,season,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,BusiestSta
0,1.0,1.0,1.0,0.0,6.0,0.0,2.0,0.344167,0.363625,0.805833,0.160446,31228
1,2.0,1.0,1.0,0.0,0.0,0.0,2.0,0.363478,0.353739,0.696087,0.248539,31602
2,3.0,1.0,1.0,0.0,1.0,1.0,1.0,0.196364,0.189405,0.437273,0.248309,31101
3,4.0,1.0,1.0,0.0,2.0,1.0,1.0,0.200000,0.212122,0.590435,0.160296,31101
4,5.0,1.0,1.0,0.0,3.0,1.0,1.0,0.226957,0.229270,0.436957,0.186900,31104
...,...,...,...,...,...,...,...,...,...,...,...,...
360,361.0,1.0,12.0,0.0,2.0,1.0,2.0,0.325000,0.327633,0.762500,0.188450,31214
361,362.0,1.0,12.0,0.0,3.0,1.0,1.0,0.299130,0.279974,0.503913,0.293961,31214
362,363.0,1.0,12.0,0.0,4.0,1.0,1.0,0.248333,0.263892,0.574167,0.119412,31200
363,364.0,1.0,12.0,0.0,5.0,1.0,1.0,0.311667,0.318812,0.636667,0.134337,31200
364,365.0,1.0,12.0,0.0,6.0,0.0,1.0,0.410000,0.414121,0.615833,0.220154,31201

# By Hour

In [22]:
# CBS_trips2011_test=pd.read_csv("CapitalBikeShareStation_2011_Byday.csv")
# CBS_trips_2011_daymax=pd.read_csv("data/bikesharing_day_2011.csv")
CBS_temphr_2011_max=pd.read_csv("data/bikesharing_hour_2011.csv")
CBS_tripshr_2011_max=pd.read_csv("CapitalBikeShareStation_2011_ByHour.csv")

In [23]:
print(CBS_temphr_2011_max.shape)
print(CBS_tripshr_2011_max.shape)

(17379, 17)
(8645, 148)

In [24]:
CBS_temphr_2011_max

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,1/1/2011,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0000,3,13,16
1,2,1/1/2011,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0000,8,32,40
2,3,1/1/2011,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0000,5,27,32
3,4,1/1/2011,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0000,3,10,13
4,5,1/1/2011,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0000,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17374,17375,12/31/2012,1,1,12,19,0,1,1,2,0.26,0.2576,0.60,0.1642,11,108,119
17375,17376,12/31/2012,1,1,12,20,0,1,1,2,0.26,0.2576,0.60,0.1642,8,81,89
17376,17377,12/31/2012,1,1,12,21,0,1,1,1,0.26,0.2576,0.60,0.1642,7,83,90
17377,17378,12/31/2012,1,1,12,22,0,1,1,1,0.26,0.2727,0.56,0.1343,13,48,61
17378,17379,12/31/2012,1,1,12,23,0,1,1,1,0.26,0.2727,0.65,0.1343,12,37,49

In [25]:
CBS_tripshr_2011_max

,Unnamed: 0,Day,Hour,31000,31001,31002,31003,31004,31005,31006,...,31705,31706,31707,31708,31801,31802,31804,31805,31806,total_trips
0,0,2011-01-01,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,16
1,1,2011-01-01,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,39
2,2,2011-01-01,2,0,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,33
3,3,2011-01-01,3,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,15
4,4,2011-01-01,4,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8640,8640,2011-12-31,19,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,108
8641,8641,2011-12-31,20,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,91
8642,8642,2011-12-31,21,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,73
8643,8643,2011-12-31,22,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,58
8644,8644,2011-12-31,23,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,53

In [26]:
del CBS_tripshr_2011_max['Unnamed: 0']
del CBS_tripshr_2011_max['Day']
del CBS_tripshr_2011_max['total_trips']
del CBS_tripshr_2011_max['Hour']

In [27]:
CBS_tripshr_2011_max

,31000,31001,31002,31003,31004,31005,31006,31007,31008,31009,...,31704,31705,31706,31707,31708,31801,31802,31804,31805,31806
0,0,0,0,0,0,0,0,2,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,2,0,0,0,0,0,2,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8640,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8641,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
8642,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8643,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8644,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [28]:
CBS_temphr_2011_max['BusiestSta']=CBS_tripshr_2011_max.idxmax(axis=1)

In [29]:
CBS_temphr_2011_max=CBS_temphr_2011_max.dropna()
CBS_temphr_2011_max

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt,BusiestSta
0,1,1/1/2011,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0000,3,13,16,31007
1,2,1/1/2011,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0000,8,32,40,31104
2,3,1/1/2011,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0000,5,27,32,31623
3,4,1/1/2011,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0000,3,10,13,31102
4,5,1/1/2011,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0000,0,1,1,31103
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8640,8641,12/31/2011,1,0,12,19,0,6,0,1,0.42,0.4242,0.54,0.2239,19,73,92,31201
8641,8642,12/31/2011,1,0,12,20,0,6,0,1,0.42,0.4242,0.54,0.2239,8,63,71,31103
8642,8643,12/31/2011,1,0,12,21,0,6,0,1,0.40,0.4091,0.58,0.1940,2,50,52,31107
8643,8644,12/31/2011,1,0,12,22,0,6,0,1,0.38,0.3939,0.62,0.1343,2,36,38,31622
8644,8645,12/31/2011,1,0,12,23,0,6,0,1,0.36,0.3788,0.66,0.0000,4,27,31,31101

In [30]:
del CBS_temphr_2011_max['dteday']
del CBS_temphr_2011_max['casual']
del CBS_temphr_2011_max['registered']
del CBS_temphr_2011_max['cnt']
del CBS_temphr_2011_max['yr']

In [31]:
CBS_temphr_2011_max

,instant,season,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,BusiestSta
0,1,1,1,0,0,6,0,1,0.24,0.2879,0.81,0.0000,31007
1,2,1,1,1,0,6,0,1,0.22,0.2727,0.80,0.0000,31104
2,3,1,1,2,0,6,0,1,0.22,0.2727,0.80,0.0000,31623
3,4,1,1,3,0,6,0,1,0.24,0.2879,0.75,0.0000,31102
4,5,1,1,4,0,6,0,1,0.24,0.2879,0.75,0.0000,31103
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8640,8641,1,12,19,0,6,0,1,0.42,0.4242,0.54,0.2239,31201
8641,8642,1,12,20,0,6,0,1,0.42,0.4242,0.54,0.2239,31103
8642,8643,1,12,21,0,6,0,1,0.40,0.4091,0.58,0.1940,31107
8643,8644,1,12,22,0,6,0,1,0.38,0.3939,0.62,0.1343,31622
8644,8645,1,12,23,0,6,0,1,0.36,0.3788,0.66,0.0000,31101

In [32]:
CBS_temphr_2011_max.to_csv("CBS_2011_TotalHr.csv")

# Concat hour dataframes

In [2]:
CBS_temphr_2011=pd.read_csv("data/bikesharing_hour_2011.csv")
CBS_tripshr_2011=pd.read_csv("CapitalBikeShareStation_2011_ByHour.csv")

In [4]:
CBS_tripshr_2011.head()

,Unnamed: 0,Day,Hour,31000,31001,31002,31003,31004,31005,31006,...,31705,31706,31707,31708,31801,31802,31804,31805,31806,total_trips
0,0,2011-01-01,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,16
1,1,2011-01-01,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,39
2,2,2011-01-01,2,0,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,33
3,3,2011-01-01,3,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,15
4,4,2011-01-01,4,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,5

In [3]:
CBS_temphr_2011['dteday'] = pd.to_datetime(CBS_temphr_2011['dteday'], dayfirst=True)
CBS_temphr_2011.head()

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16
1,2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,8,32,40
2,3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,5,27,32
3,4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,3,10,13
4,5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0,0,1,1

In [5]:
CBS_tripshr_2011['Day'] = pd.to_datetime(CBS_tripshr_2011['Day'], dayfirst=True)
CBS_tripshr_2011.head()

,Unnamed: 0,Day,Hour,31000,31001,31002,31003,31004,31005,31006,...,31705,31706,31707,31708,31801,31802,31804,31805,31806,total_trips
0,0,2011-01-01,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,16
1,1,2011-01-01,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,39
2,2,2011-01-01,2,0,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,33
3,3,2011-01-01,3,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,15
4,4,2011-01-01,4,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,5

In [6]:
df_colhr = pd.concat([CBS_temphr_2011,CBS_tripshr_2011], axis=1)
df_colhr = df_colhr.dropna()
df_colhr.shape

(8645, 165)

In [7]:
df_colhr.head()

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,...,31705,31706,31707,31708,31801,31802,31804,31805,31806,total_trips
0,1,2011-01-01,1,0,1,0,0,6,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,16.0
1,2,2011-01-01,1,0,1,1,0,6,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,39.0
2,3,2011-01-01,1,0,1,2,0,6,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,33.0
3,4,2011-01-01,1,0,1,3,0,6,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,15.0
4,5,2011-01-01,1,0,1,4,0,6,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0

In [154]:
del df_colhr['Unnamed: 0']
del df_colhr['instant']
del df_colhr['Day']
del df_colhr['yr']
df_colhr.head()

,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt,Hour,31000,31001,31002,31003,31004,31005,31006,31007,31008,31009,31010,31011,31012,31013,31014,31015,31016,31017,31018,31019,31020,31021,31022,31052,31100,31101,31102,31103,31104,31105,31106,31107,31108,31109,31110,31111,31112,31113,31115,31116,31200,31201,31202,31203,31204,31205,31206,31207,31208,31209,31211,31212,31213,31214,31215,31216,31217,31218,31219,31220,31221,31222,31223,31224,31225,31226,31227,31228,31229,31230,31231,31232,31233,31235,31236,31237,31238,31239,31241,31242,31244,31245,31246,31261,31262,31266,31300,31301,31302,31303,31304,31305,31307,31400,31401,31402,31404,31500,31501,31502,31503,31504,31505,31506,31600,31601,31602,31603,31604,31605,31606,31607,31608,31609,31610,31611,31613,31614,31615,31616,31617,31618,31619,31620,31621,31622,31623,31624,31625,31626,31700,31701,31702,31703,31704,31705,31706,31707,31708,31801,31802,31804,31805,31806,total_trips
0,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,2.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,16.0
1,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,8,32,40,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,2.0,5.0,1.0,0.0,1.0,0.0,2.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,39.0
2,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,5,27,32,2.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0,0.0,1.0,2.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,33.0
3,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,3,10,13,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,15.0
4,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0,0,1,1,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0

In [155]:
df_colhr.tail()

,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt,Hour,31000,31001,31002,31003,31004,31005,31006,31007,31008,31009,31010,31011,31012,31013,31014,31015,31016,31017,31018,31019,31020,31021,31022,31052,31100,31101,31102,31103,31104,31105,31106,31107,31108,31109,31110,31111,31112,31113,31115,31116,31200,31201,31202,31203,31204,31205,31206,31207,31208,31209,31211,31212,31213,31214,31215,31216,31217,31218,31219,31220,31221,31222,31223,31224,31225,31226,31227,31228,31229,31230,31231,31232,31233,31235,31236,31237,31238,31239,31241,31242,31244,31245,31246,31261,31262,31266,31300,31301,31302,31303,31304,31305,31307,31400,31401,31402,31404,31500,31501,31502,31503,31504,31505,31506,31600,31601,31602,31603,31604,31605,31606,31607,31608,31609,31610,31611,31613,31614,31615,31616,31617,31618,31619,31620,31621,31622,31623,31624,31625,31626,31700,31701,31702,31703,31704,31705,31706,31707,31708,31801,31802,31804,31805,31806,total_trips
8640,2011-12-31,1,0,12,19,0,6,0,1,0.42,0.4242,0.54,0.2239,19,73,92,19.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,3.0,2.0,2.0,1.0,1.0,0.0,6.0,2.0,0.0,0.0,2.0,2.0,0.0,8.0,2.0,2.0,2.0,0.0,0.0,0.0,2.0,0.0,0.0,2.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,2.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,1.0,0.0,3.0,0.0,0.0,2.0,0.0,2.0,0.0,0.0,3.0,2.0,1.0,0.0,1.0,0.0,0.0,2.0,0.0,0.0,0.0,3.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,108.0
8641,2011-12-31,1,0,12,20,0,6,0,1,0.42,0.4242,0.54,0.2239,8,63,71,20.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,4.0,3.0,5.0,4.0,0.0,1.0,3.0,0.0,1.0,0.0,2.0,0.0,0.0,1.0,2.0,3.0,2.0,1.0,2.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,4.0,0.0,1.0,0.0,0.0,1.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,4.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,91.0
8642,2011-12-31,1,0,12,21,0,6,0,1,0.40,0.4091,0.58,0.1940,2,50,52,21.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,2.0,1.0,1.0,2.0,3.0,3.0,0.0,2.0,0.0,0.0,0.0,0.0,1.0,1.0,2.0,3.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,3.0,1.0,1.0,0.0,0.0,0.0,3.0,0.0,0.0,1.0,1.0,0.0,3.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,2.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,73.0
8643,2011-12-31,1,0,12,22,0,6,0,1,0.38,0.3939,0.62,0.1343,2,36,38,22.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,2.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,6.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,58.0
8644,2011-12-31,1,0,12,23,0,6,0,1,0.36,0.3788,0.66,0.0000,4,27,31,23.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,2.0,2.0,0.0,0.0,1.0,3.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,53.0

In [156]:
del df_colhr['Hour']

In [157]:
df_colhr.to_csv("CapitalBikeShareStation_2011_TotalHr.csv")